


//Bootstrap All Files
@import "node_modules/bootstrap/scss/bootstrap";




//Bootstrap Changes
@import "base/bootstrap-changes";

//variables
@import "variables/colors";



//components
@import "components/jumbo";
@import "components/lenders-section";
@import "components/best-buys";
@import "components/advice";
@import "components/modal-enquire";
@import "components/buttons";
@import "components/form";
@import "components/map";
@import "components/video-card";
@import "components/book-video-chat-link";
@import "components/breaking-news";
@import "components/breadcrumb";
@import "components/risk-warning";






//Header
@import "header/nav";

//footer
@import "footer/foot";


//pages
@import "pages/home";
@import "pages/content";
@import "pages/contact-us";
@import "pages/best-buys";
//Pages aip adverts
@import "pages/guide-page";
@import "pages/adverts-aip";
@import "pages/redirect-dark";


//advice
@import "advice/advice";

//Calculators
@import "calculators/howMuchCanIBorrow";
@import "calculators/monthly-repayments";
@import "calculators/stamp-duty-calculator";
@import "calculators/calculators";

//Test
@import "test/testing-nav";
