.menu{



    @media only screen and (max-width: 1250px) {
        display: none;
    }

    &-top{
        width: 100vw;
        height: 2rem;
        background-color: $mono;

        & ul{
            list-style: none;
            margin-bottom: 0px;
            height: 100%;
            color: white;

            & li{
                display: inline-block;
                margin-right: 1rem;
                position: relative;
                top: 50%;
                transform: translateY(-50%);


                & a{
                    color:white;
                    text-decoration: none;
                    transition-property: color;
                    transition-duration: .3s;
                    

                    &:hover{
                        color: $tertiary-orange;
                    }
                }
            }
        }
    }

    &-mid{
        position: relative;
        background-color: $primary;
        height: 8rem;
        padding: 1vw 1vw 1vw 1vw;

        &-inner{
            width: 100%;
            height: 100%;
            // background-color: $vibrant-purple;;

            &-left{
                display: inline-block;
                width: 59.9%;
                height: 100%;
                // background-color:$vibrant-purple;;

                & img{
                    width: 45%;
                    margin-left: 8rem;
                    height: 85%;
                    position: relative;
                    top:50%;
                    transform: translateY(-50%);

                    @media only screen and (max-width: 1500px) {
                        width: 40%;
                    }
                    
                    @media only screen and (max-width: 1350px) {
                        width: 44%;
                    }


                }
            }

            &-right{
                display: inline-block;
                width: 39.9%;
                height: 100%;
                background-color: $primary;
                float: right;
                padding: .6rem;


                &-contact{
                    width: 100%;
                    height: 100%;
                    background-color:$mono;
                    border-radius: 5px;
                    padding: .1rem;

                    & h4, p{
                        text-align: center;
                        color: white;
                        letter-spacing: 2.5px;
                        font-size: 1.1rem;
                      
                    }

                    & p{
                        font-size: 1.6rem;
                        font-weight: 500;
                        
                
                        & a{
                            text-decoration: none;
                            color: orange;
                        }
                    }
                }
            }
        }


    }

    &-bottom{

        & ul{
            list-style: none; 
            padding-left: 0px;
            margin-bottom: 0px;
            background-color: $mono;
            height: 2.5rem;

            & li{
                position: relative;
                display: inline-block;
                width: 19%;
                text-align: center;
                top: 50%;
                transform: translateY(-50%);
                color: white;
                font-weight: 500;
                transition-property: color;
                transition-duration: .3s;

                a{
                    text-decoration: none;
                    color: white;

                    &:hover{
                        color: $tertiary-orange;
                    }
                }

                &:first-of-type{
                    padding-left: 1rem;
                }

            }
        }
    }
}


.sm{

    &-menu{
        z-index:9999;
        position: relative;
        height: 8rem;
        background-color: $vibrant-purple;

    
        @media only screen and (min-width: 1250px) {display: none;}

        @media only screen and (max-width: 900px) {display: none;}

        &-logo-box{
            position: relative;
            display: inline-block;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 1rem;
            margin-right: 0rem;
            width: 40%;
            height: 6rem;

            @media only screen and (max-width: 910px) {
                height: 5rem;
            }

            & img{
                height: 100%;
                width: 100%;

            }
        }

        &-contact-box{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            color: white;
            margin-left: 16rem;

            @media only screen and (max-width: 1190px) {
                margin-left: 13rem;
            }

            @media only screen and (max-width: 1100px) {
                margin-left: 10rem;
            }

            @media only screen and (max-width: 1010px) {
                margin-left: 6rem;
            }

            @media only screen and (max-width: 900px) {
                margin-left: 4rem;
            }
            @media only screen and (max-width: 900px) {
                margin-left: 4rem;
            }

            & i{
                font-size: 2.5rem;
                color: orange;
                padding-right: 1rem;
            }

            & span{
                font-size: 2.5rem;

                & a{
                    text-decoration:none;
                    color: white;
                }
            }

        }

        &-icon-box{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2.5rem;
            margin-left: 5rem;
            display: inline-block;
            color: orange;

            @media only screen and (max-width: 1210px) {
                margin-left: 3.5rem;
            }


        }
    }
}

//To be used on 900px and below 

.sm-900-below-menu{
    position: relative;
    background-color: $vibrant-purple;
    height: 6rem;
    @media only screen and (min-width: 900px) {display: none;};
    z-index:9999;

    @media only screen and (max-width: 360px) {
        height: 5rem;
    }

    &-icon-box{
        position: relative;
        display: inline-block;
        font-size: 3.5rem;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 2rem;
        float: right;

        & a{
            text-decoration: none;
            color: white;
        }

        @media only screen and (max-width: 450px) {
            margin-right: 1rem;
            font-size: 2.8rem;
        }

        @media only screen and (max-width: 400px) {
            margin-right: .5rem;
            font-size: 2.5rem;
        }

        @media only screen and (max-width: 360px) {
            height: 2.2rem;
            font-size: 2.2rem;
        }


    }

    &-logo-box{
        position: relative;
        display: inline-block;
        margin-left: 2rem;
        height: 5rem;
        width: 45%;
        top: 50%;
        transform: translateY(-50%);

        @media only screen and (max-width: 810px) {
            width: 50%;
        }

        @media only screen and (max-width: 650px) {
            width: 55%;
        }

        @media only screen and (max-width: 550px) {
            width: 60%;
        }

        @media only screen and (max-width: 500px) {
            width: 65%;
        }

        @media only screen and (max-width: 450px) {
            width: 70%;
            margin-left: 1rem;
        }

        @media only screen and (max-width: 400px) {
            margin-left: .5rem;
            width: 80%;
        }

   

        & img{
            width: 100%;
            height: 100%;
        }

    }

    &-contact-box{
        @media only screen and (min-width: 900px) {display: none;}
        width: 100%;
        background-color: $mono;
        height: 3rem;
        text-align: center;
        font-size: 2.2rem;
        color: white;
        z-index:9999;
        

        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;

        & a{
            color: white;
            text-decoration: none;
        }

        @media only screen and (max-width: 400px) {
            height: 2rem;
            font-size: 1.4rem;
        }

        & i{
            color: orange;
        }


    }



}

//The collapsing menu is used for both variation above
.menu{

    &-collapse{
        z-index:900000000000000000000000000 !important;
    }

    &-topic{
    background-color: $tertiary-tet;
    width: 100%;
    z-index:700000000002 !important;


    &-listener{
        padding: .4rem;

        & h6{
            color: white;
            display: inline-block;
            padding-left: 8rem;

            @media only screen and (max-width: 450px) {
                padding-left: 2rem;
            }

            
        }

        & span{
            color: orange;
            float: right;
            padding-right: 8rem;
            @media only screen and (max-width: 450px) {
                padding-right: 2rem;

            }
        }
    }


    &-sub{
        padding-left: 8rem;
        background-color: $mono;
        padding-bottom: 1rem;

        @media only screen and (max-width: 450px) {
            padding-left: 2rem;
            
        }

        & h6{
            font-size: 1.2rem;
            padding:.8rem 0 .4rem 0;
            color: orange;
        }


        & ul{
            list-style: none;
            padding-left: 0rem;
            margin-bottom: 0rem;

            & li{
                margin-left: 0rem;
                padding: .3rem;

                & a{
                  color: white;
                  
                  text-decoration: none; 
                  transition-property: color;
                  transition-duration: .3s;
                  
                  &:hover{
                    color: orange;
                  }
                }

                & i{
                    color: orange;
                    padding-left: .2rem;
                }
            }
        }
    }
}

}

