<section id="best-buys mt-5">
    <h3 class="text-center">Latest Mortgage Best Buys</h3>
    <div class="modular-content_container">      
      <div class="table__container" role="region" aria-label="List of products">
            <div id="products-container" class="table__body">

            </div>
            <button class="run-search-button" type="submit" id="submit-form">
              <a class="search-mortgages-button" href="/best-buys">Search Mortgages</a>
            </button>
      </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

$('.accordion-item').click( function(){

if ( $(this).hasClass('accordion-item--closed') ) {
$(this).removeClass('accordion-item--closed');
$(this).addClass('accordion-item--opened');
} else {
$(this).removeClass('accordion-item--opened');

$(this).addClass('accordion-item--closed');    
}
});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>

$(document).ready(function(){    
// Add the first request whent he page loads
const productHTML = `<%- productHTML %>`;      
setHTMLProductsString(productHTML);
}) 
function setHTMLProductsString(str){
      
        $("#products-container").empty();
        $("#products-container").html($.parseHTML(str));
      }

</script>
</section>