<!--Braking news-->
<div class="container breaking-news-container">
    <div class="row">
      <div class="col-12">

          <!--New Start-->
          <div id="breaking-news-container">
           <div id="breaking-news-colour" class="slideup animated">
             
           </div>  
            <span class="breaking-news-title delay-animated slidein">
               // BREAKING //
             </span> 

             <a href="/mortgage-news/6040b5186c61184642a30c6b" class="breaking-news-headline delay-animated2 fadein marquee">
               Government announces 95% mortgage scheme 3rd March 2021 <strong>Click Here to Read More!!!!!</strong>
             </a>  


         </div>  
          <!--New End--> 
  
      </div>
    </div>
  </div>