<div class="side-bar-contact">
    <div class="side-bar-contact">
      <div class="side-bar-contact-title">
          Speak to an Adviser today <br>
          <P class="number">Call <a id="contactNumber" href="tel:03300430327">0330 0430327</a></P>
          <div class="side-bar-contact-title-or">or</div>
          <a href="" class="btn btn-success" id="contactButton" data-toggle="modal" data-target="#modal-enquire">Enquire Now</a>
      </div>
    </div>
  </div>