<% include ./partials/head-tags %>
<% include ./partials/main-menu %>

<div class="section">
   <div class="container">
     <div class="row">  
       <div class="col-lg-8 col-md-12 mt-3">   
         <h3 class="display-6">FAQ</h3>

         
         <h3 class="display-6">Which Lenders do we have access to ?</h3>
         <p class="text-justify mainContentInner">We offer a comprehensive range of mortgages from across the market. We also have access to some exclusive products via our network First Complete, which are often not available direct from lenders on the high street. </p>
         
         <h3 class="display-6">How much of a deposit do I need ?</h3>
         <p class="text-justify mainContentInner">
         The supply of 90% to 95% mortgages in Northern Ireland is increasing and there are a variety of other ways to reduce the required deposit. The Help to Buy Mortgage Guarantee scheme is available now to help you buy a new-build or an older property.
         <br><br>For those who do not have access to a deposit co-ownership may be the answer.

          <br><br>Many mortgage deals also cover your valuation and legal fees, reducing the amount of up-front money you need to find on top of the deposit.
         </p>
         
         <h3 class="display-6">How do Lenders assess Affordability ?</h3>
         <p class="text-justify mainContentInner">
         In the past mortgage lenders by in large based the amount you could borrow on a multiple of your income. For example, if your annual income was £30,000, you might have been able to borrow three to five times this amount, giving you a mortgage of up to £150,000.
         
         <br><br>Now when you apply for a mortgage your lender must also assess what level of monthly payments you can afford after taking into account various personal and living expenses including credit & family commitments this is called an affordability assessment.

         <br><br>These changes were enforced by the Financial Conduct Authority in April 2014 following a comprehensive review of the mortgage market.

         <br><br>The lender must also assess your future ability to repay the mortgage & your application will include a ‘stress test’. This will take into account the effect of potential interest rate rises and lifestyle changes, such as redundancy, having a baby or career break. If the lender thinks that you will be unable to afford your mortgage payments in these circumstances, they might limit how much you can borrow.
         </p>
         
         <h3 class="display-6">Do we offer evening and weekend Appointments ?</h3>
         <p class="text-justify mainContentInner">
         Yes. This can be arranged if an appointment during working hours is not suitable.
         </p>
         
         <h3 class="display-6">What is an Agreement in Principle ?</h3>
         <p class="text-justify mainContentInner">
         An Agreement in Principle is a document provided by your chosen mortgage lender which confirms they are prepared to offer a mortgage for a certain amount based on the information which you have provided them with.
    
         <br><br>This will typically include details of your income, outgoings & commitments. They will also assess your credit score with a credit reference agency.

         <br><br>It’s important to remember that an agreement in principle is not a mortgage offer you will still need to provide the lender with documents such as payslips, Bank Statements, proof of ID and proof of address, your mortgage will only be offered after all of these documents have been assessed by an underwriter.

         <br><br>It’s a good idea to apply for an Agreement In Principal before you even start looking for a property as it will give you a rough idea of how much you can afford to borrow.
         </p>
         
         <h3 class="display-6">Why should you get an Agreement in Principle ?</h3>
         <p class="text-justify mainContentInner">
          It’s a good idea to apply for an Agreement In Principal before you even start looking for a property as it will give you a rough idea of how much you can afford to borrow.
          <br><br>2. Negotiating Power – Once you have selected the property you wish to purchase and are ready to make an offer it is likely that your estate agent will ask you to produce evidence which shows that you have the funds available to complete the purchase. This will likely take the form of a mortgage agreement in principle.

          <br><br>Once you have provided all the required documentation your estate agent will usually take the property off the market. Having the required documents in place will show the seller that you are serious about the purchase and can give you leverage when negotiating the price.
         </p>
         
         <h3 class="display-6">How Long does it take to get an Agreement in Principle ?</h3>
         <p class="text-justify mainContentInner">
         An agreement in principle decision is instant and can be provided during your initial consultation providing you have the correct documents, facts and figures.
         </p>
         
         <h3 class="display-6">Do we give Advice or just Arrange the Mortgage ?</h3>
         <p class="text-justify mainContentInner">
         We offer advice and make a recommendation after assessing your needs.
         </p>
         
         <h3 class="display-6">What Documents will I need ?</h3>
         <p class="text-justify mainContentInner">
         The exact list of documents that will be required will be confirmed by your adviser. As a rough guide they will include the following for each applicant: 
          <ul class=" mainContentInner">
            
     
           <li> Proof of I.D (Passport or driving licence is preferred) </li>
           <li> Proof of address (Utility bill or bank statement)</li>
           <li> Proof of earnings (Normally last 3 month’s payslips and latest P60.</li>
           <li> If self employed last 3 years accounts or SA302’s).</li>
           <li> Last 3 month bank statements.</li>
           <li> Latest mortgage statement (if applicable).</li>
           <li> Copy of credit report.</li>
           <li> Copy of all existing insurance provisions (These may include life insurance, critical illness cover, income protection, buildings and contents cover).</li>
              </ul>
         </p>
         
         <h3 class="display-6">Do we Charge a fee for our services ?</h3>
         <p class="text-justify mainContentInner">
           At no point will any of our mortgage brokers ever charge you a fee for our services.
         </p>

         
         <h3 class="display-6"></h3>
       </div>
       <div class="col-lg-4 col-md-12">
         

    <h5 class="quick-enquiry"><strong>Quick Enquiry</strong></h5>
    <div class="container form-container">
      
       <div class="form enquiry-form">
         <div class="container pt-2 pb-2">
           <form action="enquiry-new" method="POST">
               <div class="form-group">
                 <input type="text" class="form-control" placeholder="Your Name" name="enquiry[name]">
               </div>
             
               <div class="form-group">
                 <input type="text" class="form-control" placeholder="Post Code" name="enquiry[postcode]">
               </div> 

               <div class="form-group">
                 <input type="text" class="form-control" placeholder="Your e-mail" name="enquiry[email]">
               </div>              
       
              <div class="form-group">
                 <input type="text" class="form-control" placeholder="Contact Number" name="enquiry[contactNumber]">
               </div>

               <div class="form-group">
              <textarea rows="5" class="form-control" placeholder="Your Message" name="enquiry[content]"></textarea>
               </div>
               <input type="submit" value="submit" class="btn btn-block enquiry-form-button">
             </form>
          </div>
         </div>
    </div>

    
    </div>
</div>







<% include ./partials/footer %>