<%- include('./partials/head-tags') %>
<%- include('./partials/main-menu') %>




  <div class="container-fluid jumbo-home-container">
    <div class="jumbotron-fluid jumbo-home">
         <div class="jumbo-home-content">
            <div class="jumbo-home-content-circle-1">
              </div>
              <div class="jumbo-home-content-circle-2">
               </div>
             <div class="jumbo-home-content-text">
               <p>
                  <span class="title">
                        Welcome to <br>
                        Mortgages Northern Ireland
                        <br>
                         <span class="fee-free">Fee Free Mortgage Advice</span> 
                  </span>  
                    <br><br>
                  <span class="content">
                    Mortgages Northern Ireland offer a fee free mortgage broker service across all of Northern Ireland. 
                  </span>
                   <br><br>

                   <div style="text-align:center;"> <a class="typeform-share button" href="https://form.typeform.com/to/IL4dmz9q?typeform-medium=embed-snippet" data-mode="popup" style="z-index: 70000000000000000000000000; display:inline-block;text-decoration:none;background-color:#28A745;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:14px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-size="100" target="_blank">Make an Enquiry </a> </div>

                   <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

                   <!--
                  <a href="" class="btn btn-success" id="contactButton" data-toggle="modal" data-target="#modal-enquire">Enquire Now</a>
                   -->

                  <br> 
               </p>
             </div>
         </div>
    </div>
  </div>
  
  
  <div id="carousel-widget"></div>


  
  
  <section class="process">
    <div class="process-title">
        Our Process explained in 4 easy steps
    </div>
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
      
              <div class="process-icon-box-circle process-icon-box-circle-1">
                  <i class="fas fa-calculator"></i>
               </div>
               <div class="process-icon-box-title process-icon-box-title-1">
                  Step 1 <br>
                  Consultation
                </div>
                <div class="process-icon-box-content">
                    During our initial consultation we will gather all the necessesary information to complete your mortgage application. This appointment can be carried out in our office or at location more convenient to you. Home visits are available on request.
                </div>
          
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="process-icon-box-circle process-icon-box-circle-2">
                <i class="fas fa-ribbon"></i>
             </div>
             <div class="process-icon-box-title process-icon-box-title-1">
                Step 2 <br>
                Decision in Principle
              </div>
              <div class="process-icon-box-content">
                Once we have carried out your affordability assessment we can proceed with an initial decision in principle with your selected lender this will provide you with a certificate that you can give to your estate agent to show that you can get a mortgage.
              </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="process-icon-box-circle process-icon-box-circle-3">
                <i class="far fa-edit"></i>
             </div>
             <div class="process-icon-box-title process-icon-box-title-1">
                Step 3 <br>
                Apply with us
              </div>
              <div class="process-icon-box-content">
               Once you have made a successful bid on a property you can proceed with a full mortgage application. We will require payslips, bank statements and proof of ID at this stage, most lenders can produce a full mortgage offer within roughly 10 days from the date of application.
              </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="process-icon-box-circle process-icon-box-circle-4">
                <i class="far fa-clock"></i>
             </div>
             <div class="process-icon-box-title process-icon-box-title-1">
                Step 4 <br>
                Track and Chase
              </div>
              <div class="process-icon-box-content">
                Our service doesn't stop when your offer is produced we will liase with your estate agent and your solicitor to make sure that your purchase or re-mortgage completes without a hitch.
              </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="about">
  
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-12">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
                <div class="card" style="width: 90%;">
                    <video style="width: 100%; height: 100%" controls>
                        <source src="/videos/Whatwedo.mp4" type="video/mp4">           
                      Your browser does not support the video tag.
                    </video>
                    <div class="card-body video-card-body">
                      <h5 class="card-title video-card-title">What we do?</h5>
                      <p class="card-text video-card-text">See how Mortgages Northern Ireland could help you.</p>
                    </div>
                  </div>
            </div>
            <div class="col-sm-6">
                Mortgages Northern Ireland operate a fee free mortgage advice service across all of Northern Ireland. We search through a comprehensive range of Mortgage products in order to find the most suitable deal for you. <br>
                <br>We belong to the First Complete network and are fully regulated and compliant with the Financial Conduct Authority.
                Our Mortgage Advisers have a wealth of knowledge and experience working with customers just like you and are waiting to assist with any mortgage related enquiry that you may have.
                <br><br>Choosing a mortgage is one of the biggest financial decisions you're ever likely to make. There are thousands of mortgage deals out there and we are here to help you choose the right one.
            </div>
          </div>
        </div>
      </div>
      
      </section>
  
  <section id="best-buys mt-5">
    <h3 class="text-center">Latest Mortgage Best Buys</h3>
    <div class="modular-content_container">      
      <div class="table__container" role="region" aria-label="List of products">
            <div id="products-container" class="table__body">

            </div>
            <button class="run-search-button" type="submit" id="submit-form">
              <a class="search-mortgages-button" href="/best-buys">Search Mortgages</a>
            </button>
      </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

$('.accordion-item').click( function(){

if ( $(this).hasClass('accordion-item--closed') ) {
$(this).removeClass('accordion-item--closed');
$(this).addClass('accordion-item--opened');
} else {
$(this).removeClass('accordion-item--opened');

$(this).addClass('accordion-item--closed');    
}
});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>

$(document).ready(function(){    
// Add the first request whent he page loads
const productHTML = `<%- productHTML %>`;      
setHTMLProductsString(productHTML);
}) 
function setHTMLProductsString(str){
      
        $("#products-container").empty();
        $("#products-container").html($.parseHTML(str));
      }

</script>
  </section>
  
  <section class="mtype">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="mtype-item">
              <div class="mtype-item-upper-ftb">
                  <h6>First Time <br> Buyer</h6>  <i class="fas fa-door-open"></i>
              </div>
              <div class="mtype-item-middle">
                  <p>Our experts can help you get your foot on the property ladder</p>
              </div>
              <div class="mtype-item-bottom">
                  <a href="/first-time-buyer-mortgages">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="mtype-item">
                  <div class="mtype-upper mtype-item-upper-selfBuild">
                      <h6>Self <br> Build</h6> <i class="fas fa-truck-moving"></i>
                  </div>
                  <div class="mtype-item-middle">
                      <p>Building your own home but don't know where to start! We can help.</p>
                  </div>
                  <div class="mtype-item-bottom">
                      <a href="/self-build-mortgages">Read More</a>
                  </div>
                </div>         
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="mtype-item">
                  <div class="mtype-upper mtype-item-upper-remortgage">
                      <h6>Re-mortgage <br> Your Home</h6>   <i class="far fa-edit"></i>
                  </div>
                  <div class="mtype-item-middle">
                      <p>We could save you money we will search the market for a better deal</p>
                  </div>
                  <div class="mtype-item-bottom">
                      <a href="/re-mortgage-advice">Read More</a>
                  </div>
                </div>          
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="mtype-item">
                  <div class="mtype-upper mtype-item-upper-btl">
                      <h6>Buy to <br> Let</h6>  <i class="fas fa-address-book"></i>
                  </div>
                  <div class="mtype-item-middle">
                      <p>Weather you are buying your first investment property or expanding your portfolio we can help.</p>
                  </div>
                  <div class="mtype-item-bottom">
                      <a href="/buy-to-let-mortgages">Read More</a>
                  </div>
                </div>          
          </div>
        </div>
      </div>
    </div>
  
  </section>
  

  <%- include('./partials/footer') %>

 

  node <app class="js"></app>