<%- include('./partials/head-tags') %>
<%- include('./partials/main-menu') %>

<div class="section">
   <div class="container">
     <div class="row">  
       <div class="col-lg-8 col-md-12 mt-3">   
         <h3 class="display-6">Our Service</h3>
          <p class="text-justify mainContentInner">
              At Mortgages Northern Ireland we take pride in finding the right broker to guide our clients through the process of buying their first home, moving home or remortgaging their existing property. The process of buying or refinancing property can be exceptionally time consuming and stressful. At Mortgages Northern Ireland we will ensure you receive the professional, bespoke advice you are looking for.
              <br><br>This is a brief guide to how our service works in practice.
          </p>
         
         <h3 class="display-6">Initial Contact</h3>
         <p class="text-justify">
           We don’t believe in keeping our customers waiting and will never ask you to dial a premium rate number. We will ensure that one of the mortgage brokers we introduce to will be able to respond to your enquiry anytime between 9:00 am – 5:00 pm Monday – Friday excluding bank holidays. If all of the mortgage brokers that we introduce to are busy we will contact you at our earliest convenience usually within 2-3 hours of receiving your enquiry.
         </p>
         
         <h3 class="display-6">Free Mortgage Consultation</h3>
         <p class="text-justify"> 
           When contact is made we will take initial details over the phone or via a contact form on our website. We will then have one of the mortgage advisers we introduce to assess your individual situation if they think we can be of assistance they will make an appointment with you for your free mortgage consultation either face to face at a location which is convenient to you or at their own office which ever one suits you best. This consultation will involve the gathering of background information. For example, detailed accounts of your incomings & outgoings & we will then be able to check your details against the lenders affordability calculators & criteria to find the mortgage which is right for you. This process means that they will not waste valuable credit searches in order to find a lender who is willing to give you the mortgage you require.
         </p>
         
         <h3 class="display-6">Quotation / Recommendation</h3>
          <p class="text-justify">
            Once one of the mortgage brokers we introduce to has processed your details they will select the mortgage which is best suited to your needs and begin the application process. This will usually involve us requesting a mortgage agreement in principle on your behalf, a mortgage agreement in principle will show your estate agent where applicable that you are credit worthy and serious about purchasing your new home.
         </p>
         
         <h3 class="display-6">Mortgage Offer</h3>
         <p class="text-justify">
           Providing all the information provided can be verified and the Bank or Lender are happy with your application a mortgage offer will be produced and sent to your choosen conveyancer.
         </p>
         
         <h3 class="display-6">Safe & Secure</h3>
         <p class="text-justify">
           You can rest assured that the mortgage advisers we introduce to are registered with data protection and have procedures in place to make sure your information is kept private at all times.
         </p>
       </div>
       
       <div class="col-md-4 col-sm-12 side-bar">
          <div class="side-bar-list">
              <div class="side-bar-list-title">
                  Other Catagories
              </div>
              <div class="side-bar-list-item">
                  <a href="/first-time-buyer-mortgages">First Time Buyer Mortgages</a>
              </div>
              <div class="side-bar-list-item">
                  <a href="/buy-to-let-mortgages">Buy to Let Mortgages</a>
              </div>
              <div class="side-bar-list-item">
                  <a href="/re-mortgage-advice">Re-mortgages</a>
              </div>
              <div class="side-bar-list-item">
                  <a href="/government-schemes">Government Schemes</a>
              </div>
              <div class="side-bar-list-item">
                  <a href="/self-employed-mortgages">Self-employed Advice</a>
              </div>
              <div class="side-bar-list-item">
                  <a href="/mortgage-advice">General Mortgage Advice</a>
              </div>
              <div class="side-bar-list-item">
                <a href="/mortgage-news">Mortgage News</a>
              </div>
          </div>
          <!--
 <div id="carousel-widget"></div>
          -->
         
          <div class="side-bar-infograph">
              <div class="side-bar-infograph-top">
                 <div class="side-bar-infograph-item">
                    <div class="side-bar-infograph-item-icon-box">
                       <i class="far fa-thumbs-up"></i>
                    </div>
                    <div class="side-bar-infograph-item-title">
                      Fee Free
                    </div>
                    <div class="side-bar-infograph-item-content">
                      We will never charge you a fee for our services !
                    </div>
                 </div>
                 <div class="side-bar-infograph-item">
                      <div class="side-bar-infograph-item-icon-box">
                          <i class="fas fa-lock"></i>
                      </div>
                      <div class="side-bar-infograph-item-title">
                        Safe & Secure
                      </div>
                      <div class="side-bar-infograph-item-content">
                        GDPR ready your data is encrpted so you can relax !
                      </div>
                   </div>
              </div>
              <div class="side-bar-infograph-bottom">
                      <div class="side-bar-infograph-item">
                              <div class="side-bar-infograph-item-icon-box">
                                  <i class="far fa-check-circle"></i>
                              </div>
                              <div class="side-bar-infograph-item-title">
                                Range of Lenders
                              </div>
                              <div class="side-bar-infograph-item-content">
                                Competitive rates from across the market !
                              </div>
                           </div>
                           <div class="side-bar-infograph-item">
                                  <div class="side-bar-infograph-item-icon-box">
                                      <i class="fas fa-balance-scale"></i>
                                  </div>
                                  <div class="side-bar-infograph-item-title">
                                    Unbiased Service
                                  </div>
                                  <div class="side-bar-infograph-item-content">
                                    We are not tied to any lender and aim to find the best deal for you !
                                  </div>
                               </div>
              </div>
          </div>

          <div class="side-bar-contact">
              <div class="side-bar-contact">
                <div class="side-bar-contact-title">
                    Speak to an Adviser today <br>
                    <P class="number">Call <a onclick="return gtag_report_conversion('tel:08009756476');" id="contactNumber" href="tel:08009756476">0800 975 6476</a></P>
                    <div class="side-bar-contact-title-or">or</div>
                    <a href="" class="btn btn-success" id="contactButton" data-toggle="modal" data-target="#modal-enquire">Enquire Now</a>
                </div>
              </div>
            </div>
      </div>
</div>
</div>
</div>





<%- include('./partials/footer') %>