<%- include('./partials/head-tags') %>
<%- include('./partials/main-menu') %>

<div class="section">
   <div class="container">
    
 <div id="carousel-widget"></div>
     
     <div class="row">  
       <div class="col">
         <h1>
           Our Privacy Policy 
         </h1>

         <p>
          ‘Our Network is authorised and regulated by the Financial Conduct Authority (FCA). Our Network is
          responsible for the quality of the advice that we provide to you in relation to your mortgage and/or
          insurance products, where those products are regulated by the FCA.
          In the course of doing so, our Network will also process Your Information generally, including Your
          Special Data and Criminal Disclosures.
          In the course of handling Your Information and Your Special Data/Criminal Disclosures our Network
          will:
          <ul>
            <li>Record and store Your Information and Your Special Data/Criminal Disclosures
              on Network systems run on secure servers. Your Information and Your Special
              Data/Criminal Disclosures will be accessed by authorised employees and
              consultants within, or engaged, by the Network as necessary for the purposes
              of supervision, training, quality audits, customer surveys and complaint handling
              or otherwise to comply with any other legal or regulatory obligation the Network
              may have.
            </li>
            <li>Use, and where appropriate transmit, Your Information and Your Special Data/
              Criminal Disclosures to respond to any request from the FCA, the Financial
              Ombudsman Service, HMRC, the Office of the Information Commissioner or any
              other regulatory, law enforcement or governmental body.</li>
            <li>Need to access and process Your Information and Your Special Data/Criminal
              Disclosures to deal with enquiries received from mortgage lenders and
              insurance providers that relate to the service this Firm has provided to you,
              including the payment of any commission or fees to us that may be linked to the
              product you have taken out.
            </li>
          </ul>
          Your Information and Your Special Data/Criminal Disclosures will be retained by our Network either
          electronically or in paper format for a minimum of six years and possibly for a longer period where
          this is required to enable the Network to fulfil its legal and regulatory obligations.
          Please note that the above information is a summary of the Network Privacy Policy for customers.
          If, you wish to understand in more detail what the Network will do with Your Information and Special
          Data/Criminal Disclosures then please visit the Network Privacy Policy for customers located at
          http://www.primis.co.uk/privacy-policy-and-tcs’
          
         </p>
         
 

        <h3 class="display-6">How to Contact us</h3>
         <p class="text-justify">
           We welcome your views about this site and our privacy policy.  If you would like to contact us with any queries or comments please email info@mortgagesnorthernireland.com or write to:
             <br><br>
             Mortgages Northern Ireland
             <br>
             21 Sheridan Green 
             <br>
             Portadown
             <br>             
             BT63 5BN
        </p>

         <h3 class="display-6">Website Disclaimer</h3>
          <p class="text-justify">
             This website contains information on independent financial advisers, financial advisers, mortgage advisers who provide advice and services in the UK.  The information is directed only at persons in the UK.
             <br><br>
             The materials contained in www.mortgagesnorthernireland.com are provided for general information purposes only and do not constitute professional advice.  Mind My Mortgage Ltd TA Mortgages Northern Ireland do not accept any responsibility for any loss, which may arise from reliance on information contained in this site and accept no responsibility for information provided by third parties as any links to third party sites are provided solely as a convenience to users and at your own risk.
             <br><br>
             Mind My Mortgage Ltd TA Mortgages Northern Ireland give permission for the downloading, printing, and temporary storage of one or more of the documents or pages retained on this website for personal use or internal business use for the purpose of finding professional advisers for your business only, and for no other purpose.  The reproduction or transmission of the contents of this website is prohibited without the prior written consent of Mind My Mortgage Ltd TA Mortgages Northern Ireland.
          </p>
         
         
         
         
   
         
         
         
         
       </div>
     </div>
    </div>
</div>





<%- include('./partials/footer') %>