<% include ./partials/head-tags %>
<% include ./partials/main-menu %>
<div class="section">
<div class="container"> 
 <div class="row"> 
  <div class="col">  
   <div class="mainContentInner">
       <h1>
         We have received your enquiry, we will contact you as soon as possible !
       </h1>
    </div>
  </div>
 </div>
</div>
  
</div>

  <% include ./partials/footer %>



