<% include ./partials/head-tags %>
<% include ./partials/main-menu %>

<div class="section">
   <div class="container">
     <div class="row">  
       <div class="col-lg-8 col-md-12 mt-3">   
         <h3 class="display-6">Why do you need Mortgage Advice?</h3>
          <p class="text-justify mainContentInner">
             Most people will only need to arrange a mortgage deal once every few years so this means that they will have very little experience when it comes to finding a better deal. When looking for the most suitable deal for you, our mortgage advisers have access to a comprehensive range of mortgages from across the market. Your existing bank is only likely to offer you its own range of mortgage products.
          </p>
         
         <h3 class="display-6">Comparing Mortgage Rates</h3>
         <p class="text-justify mainContentInner">
           At Mortgage Adviser NI we have access to hundreds of mortgage deals available from a range of different lenders. Our comparison software allows us to compare a range of deals that are available at any given time based on your details. Once your adviser has found the most suitable deal available we can process your application on your behalf aiming to save you time hassle and money.
         </p>
         
         <h3 class="display-6">Lending Criteria</h3>
         <p class="text-justify mainContentInner"> 
           Sourcing the most suitable mortgage deal available is only half the battle when it comes to making your mortgage application. Finding competitive rates is one thing but getting it can be a different story. There are many different reasons why people are declined for a mortgage, failing the affordability calculator, length of time in employment, self-employment, low credit score to name a few & every time you unsuccessfully apply for a mortgage your credit score may be adversely affected & being declined numerous times will undoubtedly affect your credit rating and could result in you being unable to secure a mortgage in the future.
         </p>
         
         <h3 class="display-6">Risk of not Getting Advice</h3>
          <p class="text-justify mainContentInner">
            Getting advice rather than on an execution-only basis means that, if for some reason the mortgage turns out to be unsuitable for you later on, you’ll have more rights if you have reason to make a complaint. For example, you could make a complaint of financial mis-selling if the advice you were given turned out to be unsuitable for you. Without the advice, you will have to take full responsibility for your mortgage decision making.
            <br><br>If you don’t take advice you could end up with the wrong mortgage for your situation, which would be a costly mistake in the long run or being rejected by your chosen lender because you didn’t understand the restrictions clearly or what circumstances the mortgage was designed for.
         </p>
         
         <h3 class="display-6">Consult a Mortgage Adviser</h3>
         <p class="text-justify mainContentInner">
            A mortgage adviser is a specialist with in-depth knowledge of the market. They are able to look at a range of mortgage products which suit your needs. At Mortgage Adviser NI our brokers will check the whole market for a wide range of products.
            <br><br>All mortgage advisers must offer you advice when recommending the most suitable mortgage for you. This means you are protected and you can complain to the Financial Ombudsman if things go wrong.
          
              <br><br>Check your broker is on the FCA register.
              <br><br>Mortgage Adviser NI offer advice and have access to a wide range of mortgages.
              <br><br>Mortgage Adviser NI do not charge a broker fee.
              <br><br>We charge no fees and make our money from mortgage lender commission.
              <br><br>Our Advisers are fully qualified & regulated by the Financial Conduct Authority (FCA).
              <br><br>You can check your broker on the FCA register.
              <br><br>We will help you take all the costs and features of the mortgage into account, beyond the interest rate.
              <br><br>We often have exclusive deals with lenders, not otherwise available.
              <br><br>We will check your finances to make sure you can afford a mortgage.
              <br><br>We will only recommend a mortgage that is suitable for you and will tell you which ones you are likely to get We complete the paperwork for you, so your application should be dealt with faster.
            
          </p>
         
     
       </div>
       <div class="col-lg-4 col-md-12">
         
    <h5 class="quick-enquiry"><strong>Quick Enquiry</strong></h5>
    <div class="container form-container">
      
       <div class="form enquiry-form">
         <div class="container pt-2 pb-2">
           <form action="enquiry-new" method="POST">
               <div class="form-group">
                 <input type="text" class="form-control" placeholder="Your Name" name="enquiry[name]">
               </div>
             
               <div class="form-group">
                 <input type="text" class="form-control" placeholder="Post Code" name="enquiry[postcode]">
               </div> 

               <div class="form-group">
                 <input type="text" class="form-control" placeholder="Your e-mail" name="enquiry[email]">
               </div>              
       
              <div class="form-group">
                 <input type="text" class="form-control" placeholder="Contact Number" name="enquiry[contactNumber]">
               </div>

               <div class="form-group">
              <textarea rows="5" class="form-control" placeholder="Your Message" name="enquiry[content]"></textarea>
               </div>
               <input type="submit" value="submit" class="btn btn-block enquiry-form-button">
             </form>
          </div>
         </div>
    </div>
    </div>
</div>







<% include ./partials/footer %>