<%- include('../partials/head-tags') %>
<%- include('../partials/main-menu') %>


<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12 main">
                <nav id="breadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">First Time Buyer Advice</li>
                    </ol>
                </nav>
            
                    <h2 class="main-title">
                        First Time Buyer Mortgages
                    </h2>                 
                    <img class="main-img" src="/img/first-time-buyer-mortgages1.jpg" alt="">
                    <p>
                        Getting a mortgage can be a daunting task for a first time buyer in Northern Ireland. A combination of rising property values, peoples inability to save an initial deposit and a more cautious attitude adopted by lenders can make it difficult to get your foot on the property ladder. Want to know more about the <a href="/first-time-buyer-mortgages/first-time-buyer-faq">Full Mortgage process.</a>
                        <br><br>If you are one of the lucky ones who already has a deposit saved up things are currently looking quite good. With the mortgage rates available on todays market at an all time low there are plenty of great deals available providing you meet the lenders criteria.
                        <br><br>Struggling for a deposit all is not lost there well may be options available to you have you considered a <a href="/government-schemes/help-to-buy-isas">Help to Buy ISA</a> or a <a href="/government-schemes/co-ownership-mortgages">co-ownership mortgage.</a>  
                      </p>
                      
                        <h3>Can you get a Mortgage?</h3>
                        <p>
                            Unfortunately this question cannot be answered with a simple yes or no until a mortgage broker has assessed your situation.
                            
                            <br><br><strong>Each application will be decided on its own merit some crucial factors will include</strong>
                            <br>
                          
                              <br><strong class="orangeHighlight">Employment status :-</strong> Do you have a full time permanent contract.
                              <br><strong class="orangeHighlight">Age :- </strong>Will you be borrowing beyond you specified retirement age.
                              <br><strong class="orangeHighlight">Affordability :- </strong>what is your income in relation to what you are trying to borrow.
                              <br><strong class="orangeHighlight">Type of property :-</strong>Did you know that certain lenders will not offer 95% Mortgages on new build properties.
                              <br><strong class="orangeHighlight">Credit Score :-</strong>Maybe you have missed a payment or maybe you don’t have any credit history at all.
                     
                            These are just some of the factors that could make or break your application.
                            <br><br>Don’t despair the good news is that all lenders have different criteria. So just because you have been declined by one doesn’t mean that you won’t be accepted by another.
                            <br><br>If you are struggling to get your First Mortgage the best thing to do is speak to an expert. Our brokers will assess your circumstances and will instantly know who is most likely to accept your application. Saving you time hassel and stress and to make the deal even sweeter they will never charge you a fee for their services.
                          </p>
                        
                       <h3>How much can you Borrow?</h3>
                       <p>
                          Again this is another difficult question to answer without first assessing your circumstances. Some lenders will be willing to lend 4 – 5 times your salary, but a lot will depend on how much disposable income you have left at the end of the month after credit commitments are taken into consideration.
                          <br><br>Do you have outstanding credit card debts or are you still paying off a car loan, clearing these commitments before applying for a mortgage can increase your loan amount considerably.
                          <br><br>When considering income lenders vary on what they are willing to accept some lenders will accept state benefits such as child tax credits or disability living allowance, some will consider overtime, bonuses or retirement income and some won’t.
                          <br><br>Its best to speak a mortgage broker who has general knowledge on a comprehensive list of lenders and who knows each lenders criteria and which one is most likely to accept your application.
                        </p>
                       
                       <br><br>

                       <h3>How much of a Deposit does a First Time Buyer Need ?</h3>
                       <p>
                          Saving a good deposit is a common problem for First time buyers lenders generally require a minimum of 5%.
                          <br><br>95% Mortgages in Northern Ireland have become a lot more common recently with the majority of lenders now offering them. You should be aware that the best rates are reserved for those with the biggest deposits as they represent less of a risk to the lender.
                          <br><br>Unfortunately 100% mortgages are now a thing of the past but if getting a decent deposit saved up is a real problem options such as co-ownership or a springboard mortgage could be just what you need. Don’t forget to investigate other Government Mortgage Schemes that could help you get your foot on the property ladder.
                        </p>

                        <h3>How much will my Repayments be? </h3>
                        <p>
                           Your repayments will be determined by the amount of your loan, the rate you secure and the term of your loan. Traditionally the majority of mortgages where structured over a 25 year term however nowadays certain lenders will allow you extend the term of the loan up to 35 years which will reduce the amount of the monthly repayments.
                           <br><br>You do however need to be aware that extending the loan from say 25 years to 35 years will mean that the total amount repayable will increase and you will end up paying more in the long run.
                           <br><br>It’s not uncommon for First time buyers to initially take out a longer term mortgage to allow them time to acclimatise to their new financial situation. An example of this would be a First Time Buyer taking out a 2 year fixed rate mortgage product over 30 years. When their 2 year fixed rate deal expires and they have settled into their new home they could then re-mortgage over a 20 year term providing they have adequate income to do so.
                           <br><br>Doing this would ease the financial pressure during the initial 2 years when there are lots of additional costs to consider. When considering the cost of buying a new home its important to remember that its not just the monthly repayments you have to worry about furnishing a property can be expensive too.
                        </p>

                        
                </div>

            <div class="col-md-4 col-sm-12 side-bar">
            <div class="side-bar-list">
                <div class="side-bar-list-title">
                    First Time Buyer Mortgage Advice
                </div>
                <div class="side-bar-list-item">
                    <a href="/first-time-buyer-mortgages">First Time Buyer Mortgages</a>
                </div>
                <div class="side-bar-list-item">
                    <a href="/first-time-buyer-mortgages/95-mortgages-for-first-time-buyers">95% Mortgages for First Time Buyers</a>
                </div>
                <div class="side-bar-list-item">
                    <a href="/first-time-buyer-mortgages/the-costs-of-buying-a-house">The Cost of Buying a House</a>
                </div>
                <div class="side-bar-list-item">
                    <a href="/first-time-buyer-mortgages/first-time-buyer-faq">First Time Buyer FAQ</a>
                </div>
                <div class="side-bar-list-item">
                  <a href="/government-schemes">Government Schemes</a>
              </div>
              <div class="side-bar-list-item">
                <a href="/government-schemes/co-ownership-mortgages">Co-ownership Mortgages</a>
              </div>
              <div class="side-bar-list-item">
                <a href="/government-schemes/right-to-buy-government-scheme">Right to Buy</a>
              </div>
              <div class="side-bar-list-item">
                <a href="/government-schemes/help-to-buy-isas">Help to Buy ISA's</a>
              </div>
              <div class="side-bar-list-item">
                <a href="/government-schemes/help-to-buy-government-scheme">Help to Buy</a>
              </div>
            </div>

           <!--
<div id="carousel-widget"></div>
           --> 

            <div class="side-bar-infograph">
                <div class="side-bar-infograph-top">
                   <div class="side-bar-infograph-item">
                      <div class="side-bar-infograph-item-icon-box">
                         <i class="far fa-thumbs-up"></i>
                      </div>
                      <div class="side-bar-infograph-item-title">
                        Fee Free
                      </div>
                      <div class="side-bar-infograph-item-content">
                        We will never charge you a fee for our services !
                      </div>
                   </div>
                   <div class="side-bar-infograph-item">
                        <div class="side-bar-infograph-item-icon-box">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="side-bar-infograph-item-title">
                          Safe & Secure
                        </div>
                        <div class="side-bar-infograph-item-content">
                          GDPR ready your data is encrpted so you can relax !
                        </div>
                     </div>
                </div>
                <div class="side-bar-infograph-bottom">
                        <div class="side-bar-infograph-item">
                                <div class="side-bar-infograph-item-icon-box">
                                    <i class="far fa-check-circle"></i>
                                </div>
                                <div class="side-bar-infograph-item-title">
                                  Range of Lenders
                                </div>
                                <div class="side-bar-infograph-item-content">
                                  Competitive rates from across the market !
                                </div>
                             </div>
                             <div class="side-bar-infograph-item">
                                    <div class="side-bar-infograph-item-icon-box">
                                        <i class="fas fa-balance-scale"></i>
                                    </div>
                                    <div class="side-bar-infograph-item-title">
                                      Unbiased Service
                                    </div>
                                    <div class="side-bar-infograph-item-content">
                                      We are not tied to any lender and aim to find the best deal for you !
                                    </div>
                                 </div>
                </div>
            </div>

            <div class="side-bar-contact">
                <div class="side-bar-contact">
                  <div class="side-bar-contact-title">
                      Speak to an Adviser today <br>
                      <P class="number">Call <a onclick="return gtag_report_conversion('tel:08009756476');" id="contactNumber" href="tel:08009756476">0800 975 6476</a></P>
                      <div class="side-bar-contact-title-or">or</div>
                      <a href="" class="btn btn-success" id="contactButton" data-toggle="modal" data-target="#modal-enquire">Enquire Now</a>
                  </div>
                </div>
              </div>

        </div>
   </div>
</div>


<%- include('../partials/footer') %>
