.video{

    &-card{

        &-body{
            background-color: $primary-purple-dark;
            color: $color-white;
        }

        &-title{
            color: $tertiary-orange-logo;
        }




    }
}