<% include ../partials/head-tags %>


 <div class="aip-menu">
   <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="logo-box">
            <img src="img/mortgagesLogoLong-purple-test.png" alt="">
          </div>

          <ul>
            <li> <a href="/first-time-buyer-mortgages">First Time Buyer</a></li>
            <li> <a href="/self-employed-mortgages">Self-employed</a></li>
            <li> <a href="/buy-to-let-mortgages">Buy to Let</a></li>
            <li> <a href="/re-mortgage-advice">Re-mortgage</a></li>
            <li> <a href="/self-build-mortgages">Self-Build</a></li>
          </ul>

        </div>
      </div>
   </div>
 </div>




    <div class="aip-header">
     <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">
             Get an Agreement in Principle Today
          </h1>  
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="pos">
            <h4>What you will get?</h4>
            <div class="pos-item">
              <i class="far fa-check-circle"></i><span>Certified agreement in principle</span> 
            </div>
            <div class="pos-item">
              <i class="far fa-check-circle"></i><span>Won't affect your credit score</span> 
            </div>
            <div class="pos-item">
              <i class="far fa-check-circle"></i><span>Find your max available loan </span> 
            </div>
            <div class="pos-item">
              <i class="far fa-check-circle"></i><span>No Fees !!</span> 
            </div>

            <div class="pos-key-points text-justify">
              Our Mortgage Brokers are ready to help. Mortgages Northern Ireland offer a fee free mortgage advice service. We assess your situation, figure out how much you could borrow, work out which lenders are likely to accept your application and return an agreement in principle which gives the confidence to bid on a property!
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="process">
            <h4 class="text-center">Our process is simple!</h4>

            <div class="process-item">
              <i class="far fa-clipboard"></i>
              <div class="text-center process-item-text">
                Collect a few basic details to get started
              </div>
            </div>
            <div class="arrow-box">
              <i class="fas fa-arrow-down"></i>
            </div>
            <div class="process-item">
              <i class="far fa-comment-dots"></i>
              <div class="text-center process-item-text">
                Have a quick chat with a Broker
              </div>
            </div>
            <div class="arrow-box">
              <i class="fas fa-arrow-down"></i>
            </div>
            <div class="process-item">
              <i class="fas fa-couch"></i>
              <div class="text-center process-item-text">
                Sit back and relax, we do the rest!
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <a href="/agreement-in-principle-booking">
            <div id="clickToBooking" class="btn btn-block btn-success mt-5" 
            onclick="dataLayer.push({
              'Advert1stClick': 'booking page reached'
            })">
              Get Started
             </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid guide-head">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="in-this-guide mt-3">
           <h3>In this guide:</h3> 
            <ul>
              <li class="key-point-head">
                What is an agreement in Principle?
              </li>
              <li class="key-point-head">
                How reliable is a mortgage agreement in principle?
              </li>
              <li class="key-point-head">
                How long does an agreement in principle last?
              </li>
              <li class="key-point-head">
                What information is required for an agreement in principle?
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12">
         <div class="key-point">
          <h3>What is an Agreement in Principle?</h3>
          <p>
            An agreement in principle is a document issued by a mortgage broker or a lender which indicates that you are likely to be accepted for a loan up to a certain value. 
          </p>
          <p>
            It is common for a buyer to seek out an agreement in principle as early in the mortgage application stage as possible in order to manage expectations and allow the buyer to fully understand how much they could potentially borrow, how much of a deposit they would need and roughly how much the monthly payments would be.
          </p>
          <p>
            Lenders do not underwrite documents when a mortgage agreement in principle is processed therefore it is not  a guarantee to lend, once you submit a full application you will have to send off payslips, Bank Statements etc which will be fully assessed before any offer can be made.
          </p>
          <p>
            It is common practice for an estate agent to request an agreement in principle before accepting a bid on a property, therefore is is in your best interests to have one in place before you even begin to look at properties.

            <a href="/agreement-in-principle-booking">Get your agreement in principle now!</a>
          </p>
         </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid alt-color">
    <div class="container">
      <div class="row">
        <div class="col-12">
         <div class="key-point">
          <h3>How reliable is a mortgage agreement in principle?</h3>
          <p>
            It really depends on how accurate the information you have supplied is, as Banks traditionally do not underwrite documents when a mortgage agreement in principle is submitted many individuals mistakenly enter the wrong information in relation to income and expenditure ie they include bonus income that the Bank or lender will not use or they assume that a car on PCP is not counted as a loan or they include benefit income that will not be considered when the application is fully underwritten. 
          </p>
          <p>
            Due to these types of errors mortgage agreement’s in principle can provide an inflated or deflated indication of how much you could borrow. 
          </p>
          <p>
            Mistakes such as the ones mentioned above can cost weeks of time and could also result in the buyer loosing the property they are trying to purchase. It can also leave the buyer feeling like all hope is lost and that they are not eligible for a mortgage with any lender.
          </p>
          <p>
            At Mortgages Northern Ireland we assess your payslips and Bank Statements before we submit an agreement in principle in order to assure our clients that their agreement in principle is an accurate reflection of the loan amount available to them.
          </p>
          <p>
            The lender best suited to you may not be the one offering the best rate on the market as all lenders assess income in different ways therefore in order to borrow the amount that you require you may be forced to go with one lender or another due to your personal circumstances.
          </p>
         </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12">
         <div class="key-point">
          <h3>How long does an agreement in principle last?</h3>
          <p>
            All lenders offer their own version of an agreement in principle but in general they are valid for between 30 – 90 days.
          </p>
          <p>
            You are not committing to a specific lender by applying for an agreement in principle and if they the current aip expires you can generally just resubmit the form and regenerate a new aip which will be valid for another 30 – 90 days.
          </p>
          <p>
            Although most lenders conduct soft searches during the agreement in principle application you should be aware that some still carry out hard searches therefore applying multiple times to various different lenders could result in a negative impact on your credit file.
          </p>
         </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid alt-color">
    <div class="container">
      <div class="row">
        <div class="col-12">
         <div class="key-point">
          <h3>What information will I need to supply for an agreement in principle?</h3>
          <p>
            When applying for an agreement in principle you will have to supply personal information that will include your name date of birth etc, details regarding your address history, employment history, your committed expenditure and details regarding any adverse credit.
          </p>
          <p>
            The amount of information required will depend on which lender you apply to as they all ask their own unique question sets.
          </p>
          <p>
            Many online mortgage broker firms offer their own branded agreement in principles, many of these are unreliable and are more like affordability calculations rather than actual agreement in principles. An affordability calculation is no use to anyone if your credit score does not support the application. 
          </p>
          <p>
            Mortgages Northern Ireland make sure that the agreement in principle you get from us has been credit scored and is an accurate reflection of what a lender is likely to offer you.
          </p>
         </div>
        </div>
      </div>
    </div>
  </div>

  

  



<!--Reuseable component menu on small screens  -->
<i class="fas fa-bars menu-small" onclick="openMenu()"></i>

<div id="sliding-side-bar" class="sliding-side-bar-close">
  <i id="menuClose" class="fas fa-times close-side-bar"></i>
  <ul>
    <li>
      <a href="/first-time-buyer-mortgages">
        First Time Buyers
      </a>
    </li>
    <li>
      <a href="/buy-to-let-mortgages">
        Buy to Let
      </a>
    </li>
    <li>
      <a href="/re-mortgage-advice">
        Re-mortgage
      </a>
    </li>
    <li>
      <a href="/self-build-mortgages">
        Self-Build
      </a>
    </li>
    <li>
      <a href="/self-employed">
        Self-employed
      </a>
    </li>
  </ul>
</div>



  <% include ../partials/footer %>