.calculators{
    margin-top: 2rem;


    &-icon{
        font-size: 5rem;

        @include media-breakpoint-down(lg){
            text-align: center;
        }
        

        &-1{
            color: $tertiary-orange;
        }

        &-2{
            color: $tertiary-orange;
        }

        &-3{
            color: $tertiary-orange;
        }
    }

    &-text{
       
        & h2{
            text-align: center;
        }
    }
}


#calcResponseMonthlyCost{
    display: none;

}



.bold{

    &-output{
        color: $tertiary-orange-light;
    }

    &-white-background{
        font-weight: 700;
        font-size: 1.6rem;
    }
}





#maxLoan{
    font-size: 2.4rem;
    font-weight: 700;
}

#monthlyRepayment{
    font-size: 2.4rem;
    font-weight:700;
}

.calcResponseOutter{
    border-top: 1px solid grey;
    background-color: $vibrant-purple;
    color: white;
    height: 45vh;
    border-radius: 10px;
    background-color:$footer-dark;
    text-align: center;
    font-size: 1rem;

    @media only screen and (max-width: 300px) {
        height: 55vh;
    }

    &-top{
        padding-top: .5rem;
        height: 33%;

        @media only screen and (max-width: 300px) {
            height: 30%;
        }
    }

    &-middle{
        padding-top: .5rem;
        height:33%;
        border-top: 4px solid $footer-light;

        @media only screen and (max-width: 300px) {
            height: 26%;
        }

    }

    &-bottom{
        padding-left: 1rem;
        text-align: left;
        padding-top: 1rem;
        height: 32%;
        border-top: 4px solid $footer-light;

        @media only screen and (max-width: 300px) {
            height: 43%;
        }

    }
    
}

.calc-form{
    background-color: #f5f5f2;
    padding: 0.5rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav-link-button{
    border-top-left-radius: 20px;
}

#nav-tab-item{
    background-color:#f5f5f2;
}

#nav-home-tab{
    border-top-left-radius: 20px;
}

#nav-tab-item{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

#LTVOutput{
    text-align: center;
}

.calcResponseOutter-bottom{
    text-align: center;
    font-size: .8rem;

}



