<% include ../partials/head-tags %>
<% include ../partials/main-menu %>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="row calculators">
                    <div class="col-lg-2">
                            <div class="calculators-icon calculators-icon-1">
                                 <i class="fas fa-calculator"></i>
                            </div>
                        </div>
                <div class="col-lg-10">
                    <div class="calculators-text">
                      <h2>How Much can I Borrow !</h2>
                      <div class="row">
                        
                                <p>The how much can I borrow calculator takes your monthly income and calculates roughly how much a lender may be willing to offer you. In order to get an accurate figure why now book an appointment with an adviser.</p>
                        
                      </div>
                     
                      <a class="btn btn-outline-primary btn-sm btn-block" href="/calculators/how-much-can-i-borrow">How much can I Borrow</a>
                    </div>
                </div>
            </div>

            <div class="row calculators">
                    <div class="col-lg-2">
                        <div class="calculators-icon calculators-icon-2">
                             <i class="fas fa-calculator"></i>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="calculators-text">
                          <h2>Monthly Repayment Calculator!</h2>
    
                          <p>Work out what your monthly repayments would be for any given loan amount on any rate with Mortgages Northern Irelands repayment calculator. If your repayments seem managable why not give us a call to get your application under way.</p>
                          <a class="btn btn-outline-primary btn-sm btn-block" href="/calculators/monthly-repayments">What would my monthly repayments be !</a>
                        </div>
                    </div>
                </div>
                <div class="row calculators">
                        <div class="col-lg-2">
                            <div class="calculators-icon calculators-icon-3">
                                 <i class="fas fa-calculator"></i>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="calculators-text">
                              <h2>Stamp Duty Calculator</h2>
        
                              <p>Want to know how much stamp duty you will have to pay ? We can help ! Our calculator quickly and easily works out how much stamp duty you will have to pay on any given purchase.</p>
                              <a class="btn btn-outline-primary btn-sm btn-block" href="/calculators/stamp-duty-calculator">Stamp Duty Calculator</a>
                            </div>
                        </div>
                    </div>
          
        </div>
        <div class="col-md-4 col-sm-12 side-bar">
                <div class="side-bar-list">
                    <div class="side-bar-list-title">
                        Other Catagories
                    </div>
                    <div class="side-bar-list-item">
                        <a href="/first-time-buyer-mortgages">First Time Buyer Mortgages</a>
                    </div>
                    <div class="side-bar-list-item">
                        <a href="/buy-to-let-mortgages">Buy to Let Mortgages</a>
                    </div>
                    <div class="side-bar-list-item">
                        <a href="/re-mortgage-advice">Re-mortgages</a>
                    </div>
                    <div class="side-bar-list-item">
                        <a href="/government-schemes">Government Schemes</a>
                    </div>
                    <div class="side-bar-list-item">
                        <a href="/self-employed-mortgages">Self-employed Advice</a>
                    </div>
                    <div class="side-bar-list-item">
                        <a href="/mortgage-advice">General Mortgage Advice</a>
                    </div>
                    <div class="side-bar-list-item">
                      <a href="/mortgage-news">Mortgage News</a>
                    </div>
                </div>
                <div id="carousel-widget"></div>
      
                <div class="side-bar-infograph">
                    <div class="side-bar-infograph-top">
                       <div class="side-bar-infograph-item">
                          <div class="side-bar-infograph-item-icon-box">
                             <i class="far fa-thumbs-up"></i>
                          </div>
                          <div class="side-bar-infograph-item-title">
                            Fee Free
                          </div>
                          <div class="side-bar-infograph-item-content">
                            We will never charge you a fee for our services !
                          </div>
                       </div>
                       <div class="side-bar-infograph-item">
                            <div class="side-bar-infograph-item-icon-box">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="side-bar-infograph-item-title">
                              Safe & Secure
                            </div>
                            <div class="side-bar-infograph-item-content">
                              GDPR ready your data is encrpted so you can relax !
                            </div>
                         </div>
                    </div>
                    <div class="side-bar-infograph-bottom">
                            <div class="side-bar-infograph-item">
                                    <div class="side-bar-infograph-item-icon-box">
                                        <i class="far fa-check-circle"></i>
                                    </div>
                                    <div class="side-bar-infograph-item-title">
                                      Range of Lenders
                                    </div>
                                    <div class="side-bar-infograph-item-content">
                                      Competitive rates from across the market !
                                    </div>
                                 </div>
                                 <div class="side-bar-infograph-item">
                                        <div class="side-bar-infograph-item-icon-box">
                                            <i class="fas fa-balance-scale"></i>
                                        </div>
                                        <div class="side-bar-infograph-item-title">
                                          Unbiased Service
                                        </div>
                                        <div class="side-bar-infograph-item-content">
                                          We are not tied to any lender and aim to find the best deal for you !
                                        </div>
                                     </div>
                    </div>
                </div>
      
                <div class="side-bar-contact">
                    <div class="side-bar-contact">
                      <div class="side-bar-contact-title">
                          Speak to an Adviser today <br>
                          <P class="number">Call <a onclick="return gtag_report_conversion('tel:08009756476');" id="contactNumber" href="tel:08009756476">0800 975 6476</a></P>
                          <div class="side-bar-contact-title-or">or</div>
                          <a href="" class="btn btn-success" id="contactButton" data-toggle="modal" data-target="#modal-enquire">Enquire Now</a>
                      </div>
                    </div>
                  </div>
            </div>
    </div>
</div>

<% include ../partials/footer %>
