<%- include('../partials/head-tags') %>
<%- include('../partials/main-menu') %>
<div class="width-restrict">
  <div class="container pt-5 pb-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>Mortgage Calculators</h1>
          <p class="mb-5">
            Mortgage calculators are a great way for you to work out how much you could potentially borrow. It's important to note that not all Banks calculate affordability in the same way and you won't always meet a specfic lenders criteria. In order to get an accurate idea of how much you could actually borrow you would be best advised to speak to one of our mortgage brokers. 
            <a href="" class="" id="contactButton" data-toggle="modal" data-target="#modal-enquire">Enquire Now</a>
          </p>
        </div>
      </div>
         <div class="row">
            <div class="col-lg-6">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">How much can I borrow?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">How much does it cost?</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <form class="calc-form">
    
                    <div class="mb-3">
                      <label for="grossAnnualApp1" class="form-label">
                        Your gross annual Salary
                      </label> 
                      <span data-bs-toggle="tooltip" data-bs-placement="right" title="Here you can include your gross annual salary combined with the gross annualised figure for all benefits received including child benefit. For self-employed applicants an average of your last 2 years pre tax profits. For Ltd company traders you should speak to an adviser to ensure you are using accurate figures." >
                        <i class="fas fa-question-circle"></i>
                      </span>
                      <input type="number" class="form-control maxLoanInput maxLoanInput" id="grossAnnualApp1" placeholder="0">
                    </div>
    
                    <div class="mb-3">
                      <label for="grossAnnualApp2" class="form-label">
                        Your partners gross annual Salary
                      </label> 
                      <span data-bs-toggle="tooltip" data-bs-placement="right" title="Here you can include your partners gross annual salary. For self-employed applicants an average of your last 2 years pre tax profits. For Ltd company traders you should speak to an adviser to ensure you are using accurate figures." >
                        <i class="fas fa-question-circle"></i>
                      </span>
                      <input type="number" class="form-control maxLoanInput" id="grossAnnualApp2" placeholder="0">
                    </div>
    
                    <div class="mb-3">
                      <label for="deposit" class="form-label">
                        Deposit Amount
                      </label> 
                      <span data-bs-toggle="tooltip" data-bs-placement="right" title="Please enter the maximum deposit that you have available." >
                        <i class="fas fa-question-circle"></i>
                      </span>
                      <input type="number" class="form-control maxLoanInput" id="deposit" placeholder="0">
                    </div>
    
                    <div class="mb-3">
                      <label for="monthlyOutgoings" class="form-label">
                        Monthly Outgoings 
                      </label> 
                      <span data-bs-toggle="tooltip" data-bs-placement="right" title="Lenders take regular monthly spending into account when deciding how much to lend. This includes loan repayments, credit cards, childcare fees, pension payments, etc." >
                        <i class="fas fa-question-circle"></i>
                      </span>
                      <input type="number" class="form-control maxLoanInput" id="monthlyOutgoings" placeholder="0">
                    </div>
    
                </form>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <form class="calc-form" action="">
    
                    <div class="mb-3">
                      <label for="loanAmount" class="form-label">
                        Mortgage Amount
                      </label> 
                      <span data-bs-toggle="tooltip" data-bs-placement="right" title="How much money would you like to borrow?" >
                        <i class="fas fa-question-circle"></i>
                      </span>
                      <input type="number" class="form-control repaymentInput" id="loanAmount" value="150000">
                    </div>
    
                    <div class="mb-3">
                      <label for="term" class="form-label">
                        Mortgage Term
                      </label> 
                      <span data-bs-toggle="tooltip" data-bs-placement="right" title="Over hw many years would you like the mortgage?" >
                        <i class="fas fa-question-circle"></i>
                      </span>
                      <input type="number" class="form-control repaymentInput" id="term" value="30">
                    </div>
    
                    <div class="mb-3">
                      <label for="interestRate" class="form-label">
                        Interest Rate
                      </label> 
                      <span data-bs-toggle="tooltip" data-bs-placement="right" title="What is the interest rate on the proposed loan?" >
                        <i class="fas fa-question-circle"></i>
                      </span>
                      <input type="number" class="form-control repaymentInput" id="interestRate" value="2.5">
                    </div>
    
                    <div class="mb-3">
                      <label for="depositMR" class="form-label">
                        Deposit ( Optional )
                      </label> 
                      <span data-bs-toggle="tooltip" data-bs-placement="right" title="How much of a deposit would you like  to put towards the loan this will help us to show you relevant products?" >
                        <i class="fas fa-question-circle"></i>
                      </span>
                      <input type="number" class="form-control repaymentInput" id="depositMR" placeholder="0">
                    </div>
    
                  </form>
                </div>
              </div>
              <div class="enquiry-button-box">
                <div data-tf-popup="IL4dmz9q" data-tf-iframe-props="title=Quick Enquiry" data-tf-medium="snippet" style="all:unset;font-family:Helvetica,Arial,sans-serif;display:block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#efbf6e;color:#000000;font-size:20px;border-radius:9px;padding:0 33px;font-weight:bold;color:#00414c;height:50px;cursor:pointer;line-height:50px;text-align:center;margin:0;text-decoration:none;">Quick Enquiry</div><script src="//embed.typeform.com/next/embed.js"></script>
              </div>
              </div>
            <div class="col-lg-6">
    
              <div id="calcResponseMaxLoan" class="">
                <div class="calcResponseOutter">
                  <div class="calcResponseOutter-top">
                   <span class="bold-white-background">You could borrow up to:</span> <br>
                    <span id="maxLoan" class="bold-output">£000,000</span>
                  </div>
                  <div class="calcResponseOutter-middle">
                   <p id="LTVOutput">
                    Loan to Value (LTV): <span id="LTV" class="bold-white-background bold-output"> 0</span> %
                   </p> 
                    Including your deposit you could afford a house price up to <br>
                    <span id="maxPurchasePrice" class="bold-white-background bold-output">£000</span>
                  </div>
                  <div class="calcResponseOutter-bottom">
                    This information is a guide only and should not be relied on as a recommendation or advice, that any particular mortgage is suitable for you.
    
                    All mortgages are subject to the applicant(s) meeting the eligibility criteria of the specific lender.
    
                    You should make an appointment to receive mortgage advice which will based on your needs and circumstances.
                 
                  </div>
      
                </div>
              </div>
    
              <div id="calcResponseMonthlyCost">
                <div class="calcResponseOutter">
                  <div class="calcResponseOutter-top">
                   <span class="bold-white-background">Your monthly mortgage repayment:</span> <br>
                    <span id="monthlyRepayment" class="bold-output">£592</span>
                  </div>
                  <div class="calcResponseOutter-bottom">
                    This information is a guide only and should not be relied on as a recommendation or advice, that any particular mortgage is suitable for you.
    
                    All mortgages are subject to the applicant(s) meeting the eligibility criteria of the specific lender.
    
                    You should make an appointment to receive mortgage advice which will based on your needs and circumstances.
                  </div>
      
                </div>
              </div>
    
            </div>
         </div>
    </div>
  </div>
</div>


<!--Calculates the outputs for the monthly payment-->

<!--
  Change all of the inputs from values to placeholders 
  Run the convert empty to 0 function on each individual element
-->
<script>
  var la = document.getElementById("loanAmount");
  var t = document.getElementById("term");
  var ir = document.getElementById("interestRate");
  var d = document.getElementById("depositMR");
  var monthlyPaymentSpan = document.getElementById("monthlyRepayment");
  var allElements = document.getElementsByClassName("repaymentInput");
 for (let i = 0; i < allElements.length; i++){
   allElements[i].addEventListener("keyup", function(e){
     var P = convertEmptyFieldsTo0(la);
     var Y = convertEmptyFieldsTo0(t);
     var I = convertEmptyFieldsTo0(ir);
     console.log(I)
     var deposit = convertEmptyFieldsTo0(d);
     P = parseInt(P, 10);
     I = parseFloat(I, 10).toFixed(2);
     Y = parseInt(Y, 10);
     I = I /100 /12;
     Y = Y * 12;
     toThePowerOfRate = Math.pow(I + 1, Y);
     topNum = I * toThePowerOfRate;
     bottomNum = toThePowerOfRate - 1;
 
     var monthlyPayment = topNum /bottomNum * P;
 
     monthlyPayment = monthlyPayment.toFixed(2);
     monthlyPaymentSpan.textContent = monthlyPayment;
      
   })
 }           
</script>


<!--Bootstrap tooltip trigger-->
<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>


<!--Calculates the max laon output-->
<script>
  var grossAnnualApp1 = document.getElementById("grossAnnualApp1");
  var grossAnnualApp2 = document.getElementById("grossAnnualApp2");
  var deposit = document.getElementById("deposit");
  var monthlyOutgoings = document.getElementById("monthlyOutgoings");
  var maxLoanText = document.getElementById("maxLoan");
  var maxPurchasePrice = document.getElementById("maxPurchasePrice");
  var maxLoan = "";
  var LTV = document.getElementById("LTV");
  var allElements = document.getElementsByClassName("maxLoanInput");
  console.log(allElements)

  for (let i = 0; i < allElements.length; i++){
    allElements[i].addEventListener("keyup", function(e){

      annualApp1 = convertEmptyFieldsTo0(grossAnnualApp1);
      annualApp2 = convertEmptyFieldsTo0(grossAnnualApp2);
      depositConvert         = convertEmptyFieldsTo0(deposit);
      monthlyOutgoingsConvert = convertEmptyFieldsTo0(monthlyOutgoings);

    
    var totalIncome =  (annualApp1 + annualApp2) - (monthlyOutgoingsConvert * 12);
    if(totalIncome < 50000){
      maxLoan = totalIncome * 4.5;
    }else if(totalIncome >= 50000  && totalIncome < 100000){
      maxLoan = totalIncome * 4.75;
    }else{
      maxLoan = totalIncome * 5.5;
    }
    maxLoanText.textContent = "£" + maxLoan;
    var PP = maxLoan + parseInt(depositConvert);
    maxPurchasePrice.textContent = "£" + PP;
    LTV.textContent = Math.round(maxLoan / (maxLoan + depositConvert) * 100);
    })  
  }

  //Function to convert empty fields to 0 value
  function convertEmptyFieldsTo0(field){
    if(field.value.length == 0){
      return 0;
    }else{
      return parseInt(field.value);
    }
  }

</script>

<!--Switches from max loan to monthly cost-->
<script>
  var maxLoanTab = document.getElementById("home-tab");
  var monthlyCostTab = document.getElementById("profile-tab");
document.getElementById("myTab").addEventListener("click", function(e){
 const displayUpdate = setTimeout(changeDisplay, 100)
  function changeDisplay(){
    if(maxLoanTab.classList.contains("active")){
    document.getElementById("calcResponseMaxLoan").style.display = "block";
    document.getElementById("calcResponseMonthlyCost").style.display = "none";
  }else if(monthlyCostTab.classList.contains("active")){
    console.log("monthlyCost")
    document.getElementById("calcResponseMaxLoan").style.display = "none";
    document.getElementById("calcResponseMonthlyCost").style.display = "block";
   }
  }
  displayUpdate()
});
  // var maxLoanDiv = document.getElementById("nav-home-tab");
  // var monthlyPayDiv = document.getElementById("nav-profile-tab");
  // var maxLoanOutPut = document.getElementById("calResponseMaxLoan");
  // var monthlyCostOutPut = document.getElementById("calcResponseMonthlyCost");
  // document.getElementById("nav-tab-item").addEventListener("click", function(){
  //   if(maxLoanDiv.classList.contains("active")){
  //      maxLoanOutPut.style.display = "block";
  //      monthlyCostOutPut.style.display = "none";
  //    }else{
  //      maxLoanOutPut.style.display = "none";
  //      monthlyCostOutPut.style.display = "block";
  //    }
  // })
</script>

<%- include('../partials/footer') %>