<%- include('../partials/head-tags') %>
<%- include('../partials/main-menu') %>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12 main">
                <nav id="breadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">First Time Buyer Advice</li>
                    </ol>
                </nav>
            
                    <h2 class="main-title">
                        Self Employed Mortgage Advice
                    </h2>

                    <img class="main-img" src="/img/Self-Employed.jpg" alt="">
                    <p>
                      Self-Employed Mortgage Advice – A common misconception on todays mortgage market is that it is now very difficult for a self-employed person to get a mortgage in Northern Ireland. However this is simply not true if you have the right paper work and can <a class="link" href="/self-employed-mortgages/self-employed-proving-my-income">prove your income</a> the process is pretty much the same for the self-employed as it is for the employed. 
                     
                      <br><br>In the past self-certification mortgages tended to be the go to product for the self-employed however these products have now been outlawed as they were being abused by both lenders and borrowers alike. These products enabled a borrower to apply for a mortgage without having to prove their income. They were originally aimed at a small minority of self-employed people but ended up being deliberately mis-sold and were subsequently banned.
               
                     </p>
                     
                     <h3>What Products are Available to the Self-employed</h3>
                      <p>
                     The reality is that there is no such thing as a self-employed mortgage product. Self-Employed people have access to all the same deals that are available to the employed providing you can prove that you have adequate income to keep up with the repayments.
                     </p>  
                     
                     <h3>Which Lender Should you use?</h3>
                     <p>
                     It’s important to remember that all lenders have different criteria when dealing with the self-employed or any other borrower for that matter. Some will request 3 years accounts some will be happy with 2 years and you may even be accepted with 1 years accounts depending on your circumstances.
                     <br><br>Lending criteria changes all the time and for this reason it would be foolish for us to list lenders by their criteria here as this information could be outdated next week.
               
                     <br><br>If you have already been turned down by one lender don’t despair it doesn’t mean that they will all say no. The best thing to do is contact a mortgage broker who can give self-employed mortgage advice and who can assess your situation. Our brokers know each lenders individual criteria and will instantly know who is most likely to accept your application and we never charge a fee for our services.
                     </p>
                </div>

            <div class="col-md-4 col-sm-12 side-bar">
            <div class="side-bar-list">
                <div class="side-bar-list-title">
                    First Time Buyer Mortgage Advice
                </div>
                <div class="side-bar-list-item">
                    <a href="/self-employed-mortgages">Self-employed Mortgages</a>
                </div>
                <div class="side-bar-list-item">
                    <a href="/self-employed-mortgages/improve-your-chances">Improve your chances</a>
                </div>
                <div class="side-bar-list-item">
                    <a href="/self-employed-mortgages/self-employed-proving-my-income">Prove your Income</a>
                </div>
            </div>
            <!--
            <div id="carousel-widget"></div>
            -->
            <div class="side-bar-infograph">
                <div class="side-bar-infograph-top">
                   <div class="side-bar-infograph-item">
                      <div class="side-bar-infograph-item-icon-box">
                         <i class="far fa-thumbs-up"></i>
                      </div>
                      <div class="side-bar-infograph-item-title">
                        Fee Free
                      </div>
                      <div class="side-bar-infograph-item-content">
                        We will never charge you a fee for our services !
                      </div>
                   </div>
                   <div class="side-bar-infograph-item">
                        <div class="side-bar-infograph-item-icon-box">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="side-bar-infograph-item-title">
                          Safe & Secure
                        </div>
                        <div class="side-bar-infograph-item-content">
                          GDPR ready your data is encrpted so you can relax !
                        </div>
                     </div>
                </div>
                <div class="side-bar-infograph-bottom">
                        <div class="side-bar-infograph-item">
                                <div class="side-bar-infograph-item-icon-box">
                                    <i class="far fa-check-circle"></i>
                                </div>
                                <div class="side-bar-infograph-item-title">
                                  Range of Lenders
                                </div>
                                <div class="side-bar-infograph-item-content">
                                  Competitive rates from across the market !
                                </div>
                             </div>
                             <div class="side-bar-infograph-item">
                                    <div class="side-bar-infograph-item-icon-box">
                                        <i class="fas fa-balance-scale"></i>
                                    </div>
                                    <div class="side-bar-infograph-item-title">
                                      Unbiased Service
                                    </div>
                                    <div class="side-bar-infograph-item-content">
                                      We are not tied to any lender and aim to find the best deal for you !
                                    </div>
                                 </div>
                </div>
            </div>

            <div class="side-bar-contact">
                <div class="side-bar-contact">
                  <div class="side-bar-contact-title">
                      Speak to an Adviser today <br>
                      <P class="number">Call <a onclick="return gtag_report_conversion('tel:08009756476');" id="contactNumber" href="tel:08009756476">0800 975 6476</a></P>
                      <div class="side-bar-contact-title-or">or</div>
                      <a href="" class="btn btn-success" id="contactButton" data-toggle="modal" data-target="#modal-enquire">Enquire Now</a>
                  </div>
                </div>
              </div>
        </div>
    
   </div>
</div>

<%- include('../partials/footer') %>