<%- include('../partials/head-tags') %>
<%- include('../partials/main-menu') %>

<div class="container">
    <div class="row"> 
        <div class="col-md-8 col-sm-12 main">



                <nav id="breadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Buy to Let</li>
                    </ol>
                </nav>



            
                    <h2 class="main-title">
                        Buy to Let Mortgages
                    </h2>

                    <img class="main-img" src="/img/to-let.jpg" alt="">
                    <p>
                        Investing in a Buy to Let Mortgage can seem like a great way to invest some spare cash and make some easy money but it isn’t always plain sailing and you need to be prepared for all eventualities for example as a landlord you will still be responsible for the mortgage repayments during void periods ( when you do not have a paying tenant ), you will need to have some spare cash available to make any repairs
                        necessary and what happens if a tenant simply refuses to pay their rent these are all issues that you must be prepared to deal with.
                        
                         <br><br>Make sure that you assess both the risks and potential benefits before investing and never invest money that you can’t afford to loose.
                 
                         <br><br>With that being said buy to let property investment can be both profitable and rewarding if done right. Below we answer a few buy to let related questions that we are asked on a regular basis.
                        </p>  
                        
                        <h3>Who can get a Buy to Let Mortgage in Northern Ireland?</h3>
                        <p>
                          <strong class="orangeHighlight">Those who can afford to take the risk – </strong>Investing in Buy to Let property does not guarantee a profit you should never invest money that you can’t afford to loose.
                          <br><br><strong class="orangeHighlight">Those who already have a residential mortgage –</strong> The majority of lenders won’t offer a buy to let mortgage to a first time buyer, however there may be the odd one that will if you are in this situation Contact us today and we will try to help any way we can.
                          <br><br><strong class="orangeHighlight">Those with good credit – </strong>It’s important that you keep up with your repayments and are not too stretched with your current borrowings.
                          <br><br><strong class="orangeHighlight">Those earning over £25,000 per year – </strong>Very few lenders will approve your application unless you meet this requirement.
                        </p>
                        
                        <h3>
                          How Does a Buy to Let Mortgage work in Northern Ireland?
                        </h3>
                        <p>  
                          Buy to Let Mortgages by in large work the same way as residential mortgages however there are some key differences.
                          <br><br>Interest rates on Buy to Let Mortgages tend to be higher.
                          <br><br>The minimum deposit required is usually at least 25% of the properties value.
                          <br><br>Many of our clients choose to take out interest only mortgages on buy to let properties as this leaves them less to pay on a monthly basis incase of void periods, repayment products are also available should you choose to do so.
                          <br><br>The majority of Buy to Let mortgage lending is not regulated by the FCA however this may not be the case if you intent to let the property to a close family member.
                        </p>
                        
                        <h3>
                          How much could you Borrow?
                        </h3>
                        <p>
                        The amount you can borrow on a Buy to Let property will be linked to the amount of rental income anticipated. Check with your local letting agent to see how much they think the property would fetch on a monthly basis.
                        <br><br>Your lender will usually require your rental income to be at least 25% higher than your monthly mortgage repayment.
                        </p>
                        
                        <h3>How do you get a Buy to Let Mortgage?</h3>
                        <p>
                        The majority of high street lenders offer Buy to Let mortgages and there are some lenders who specialise in the Buy to Let market.
                        <br><br>Our mortgage brokers source the most suitable product for you from a comprehensive list of Buy to Let providers, this combined with our expert knowledge will help to ensure that your investment is a success. Our mortgage brokers never charge a fee for our services. Contact us today and we will be happy to help with any Buy to Let query you may have.
                        </p>

                        <div class="risk-warning">
                          <p class="risk-warning-inner">
                            Most Buy-to-Let Mortgages are not regulated by the Financial Conduct Authority
                          </p>
                        </div>
                </div>

            <div class="col-md-4 col-sm-12 side-bar">
            <div class="side-bar-list">
                <div class="side-bar-list-title">
                    Buy to Let Mortgage Advice
                </div>
                <div class="side-bar-list-item">
                    <a href="/buy-to-let-mortgages">Buy to Let Mortgages</a>
                </div>
                <div class="side-bar-list-item">
                    <a href="/buy-to-let-mortgages/buy-to-let-mortgage-criteria">Buy to Let Criteria</a>
                </div>
                <div class="side-bar-list-item">
                    <a href="/buy-to-let-mortgages/buy-to-let-re-mortgage">Buy to Let Re-mortgage</a>
                </div>
                <div class="side-bar-list-item">
                  <a href="/buy-to-let-mortgages/birmingham-midshires-mortgage-broker-ni">Birmingham Midshires Mortgages</a>
              </div>
                <div class="side-bar-list-item">
                    <a href="/buy-to-let-mortgages/buy-to-let-faq">Buy to Let FAQ</a>
                </div>
            </div>
            <!--
             <div id="carousel-widget"></div>
            -->
           

            <div class="side-bar-infograph">
                    <div class="side-bar-infograph-top">
                       <div class="side-bar-infograph-item">
                          <div class="side-bar-infograph-item-icon-box">
                             <i class="far fa-thumbs-up"></i>
                          </div>
                          <div class="side-bar-infograph-item-title">
                            Fee Free
                          </div>
                          <div class="side-bar-infograph-item-content">
                            We will never charge you a fee for our services !
                          </div>
                       </div>
                       <div class="side-bar-infograph-item">
                            <div class="side-bar-infograph-item-icon-box">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="side-bar-infograph-item-title">
                              Safe & Secure
                            </div>
                            <div class="side-bar-infograph-item-content">
                              GDPR ready your data is encrpted so you can relax !
                            </div>
                         </div>
                    </div>
                    <div class="side-bar-infograph-bottom">
                            <div class="side-bar-infograph-item">
                                    <div class="side-bar-infograph-item-icon-box">
                                        <i class="far fa-check-circle"></i>
                                    </div>
                                    <div class="side-bar-infograph-item-title">
                                      Range of Lenders
                                    </div>
                                    <div class="side-bar-infograph-item-content">
                                      Competitive rates from across the market !
                                    </div>
                                 </div>
                                 <div class="side-bar-infograph-item">
                                        <div class="side-bar-infograph-item-icon-box">
                                            <i class="fas fa-balance-scale"></i>
                                        </div>
                                        <div class="side-bar-infograph-item-title">
                                          Unbiased Service
                                        </div>
                                        <div class="side-bar-infograph-item-content">
                                          We are not tied to any lender and aim to find the best deal for you !
                                        </div>
                                     </div>
                    </div>
                </div>

            <div class="side-bar-contact">
              <div class="side-bar-contact">
                <div class="side-bar-contact-title">
                    Speak to an Adviser today <br>
                    <P class="number">Call <a onclick="return gtag_report_conversion('tel:08009756476');" id="contactNumber" href="tel:08009756476">0800 975 6476</a></P>
                    <div class="side-bar-contact-title-or">or</div>
                    <a href="" class="btn btn-success" id="contactButton" data-toggle="modal" data-target="#modal-enquire">Enquire Now</a>
                </div>
              </div>
            </div>
        </div>
    
   </div>
</div>



<%- include('../partials/footer') %>
