<div class="container-fluid detailed-enquiry-partial-container">
    <!--Page 1-->
    <form id="form1" action="">
        <h3>Create Account</h3>
        <div class="">
            <input type="text" placeholder="Email" required>
        </div>
        <div class="">
            <input type="text" placeholder="Password">
        </div>
        <div class="">
            <input type="text" placeholder="Confirm Password">
        </div>

        <div class="btn-box">
            <button type="button">Back</button>
            <button type="button">Next</button>
        </div>
    </form>

<!--Page 2 -->
    <form id="form2" action="">
        <h3>Page 2</h3>
        <div class="">
            <input type="text" placeholder="Page 2 question 1" required>
        </div>
        <div class="">
            <input type="text" placeholder="Page 2 Question 2 ">
        </div>

        <div class="btn-box">
            <button type="button">Back</button>
            <button type="button">Next</button>
        </div>
    </form>

    <!--Page 3 -->
    <form id="form3" action="">
        <h3>Page 3 </h3>
        <div class="">
            <input type="text" placeholder="Page 3 question 1" required>
        </div>
        <div class="">
            <input type="text" placeholder="Page 3 Question 2 ">
        </div>

        <div class="btn-box">
            <button type="button">Back</button>
            <button type="button">Next</button>
        </div>
    </form>


    <div class="">
        <a id="back-to-main" href="#">Back to Main</a>
    </div>
</div>