<div id="enquiry-modal-container-options" class="">
    <div class="row">
      <div class="col-4">
       <a id="quick-enquiry" href="" class="">Quick Enquiry</a>
      </div>
      <div class="col-4">
       <a id="detailed-enquiry" href="" class="">Detailed Enquiry</a>
      </div>
      <div class="col-4">
       <a id="Call us" href="" class="">Call Us</a>
      </div>
    </div>
  </div>