<div class="quick-enquiry-element">
    <div class="container">
        <div class="row">

            <div class="col-12">
              <div id="thankyou">
               
              </div>
                <form id="quick-enquiry-form" action="">
                    
                    <!-- One "tab" for each step in the form: -->
                    <div class="tab"> 
                        <div class="form-group">
                            <label for="fname">First Name</label>
                            <input type="text" class="form-control" id="fname" aria-describedby="First Name" placeholder="First Name">
                          </div>
    
                          <div class="form-group">
                            <label for="lname">Last Name</label>
                            <input type="text" class="form-control" id="lname" aria-describedby="Last Name" placeholder="Last Name">
    
                          </div>
                    </div>
    
                    <div class="tab"> 
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>
    
                          <div class="form-group">
                            <label for="number">Contact Number</label>
                            <input type="number" class="form-control" id="number" aria-describedby="Contact Number" placeholder="Contact Number">
                          </div>
                    </div>
    
                    <div class="tab"> 
                        <div class="form-group">
                            <label for="enquiry">Your Enquiry</label>
                            <textarea class="form-control" id="enquiry" rows="5"></textarea>
                          </div>
                    </div>
    
                    <div id="messageSent">
                      Your Enquiry has been received we will be in touch soon
                    </div>
                    
    
                    <div id="nextPrevButtons">
                      <div style="overflow:auto; margin-top:1rem;">
                        <div style="float:right;">
                          <button class="btn btn-primary" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                          <button class="btn btn-primary" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                          <button class="btn btn-primary" id="submit">Submit</button>
                        
                        </div>
                      </div>
                    </div>
    
                  
    
                    
                    <!-- Circles which indicates the steps of the form: -->
                  <div id="stepIndicatorBox">
                    <div style="text-align:center;margin-top:40px;">
                      <span class="step"></span>
                      <span class="step"></span>
                      <span class="step"></span>
                    </div>
                  </div>
                    
                    </form>
            </div>
        </div>
    </div>

    <div class="">
        <a id="back-to-main" href="#">Back to Main</a>
    </div>
    
</div>



