<% include ../partials/head-tags %>

<!--To be used on larger screen up to 1250 px-->
<div class="menu">
    <div class="menu-top">
        <ul>
            <li> 
                <a href="/mortgage-advice">
                    Mortgage Advice
                </a>
            </li>
            <li> 
                <a href="/mortgage-news">
                    Mortgage News</a>
            </li>
            <li> 
                <a href="/our-service">
                    Our Service
                </a>
            </li>
            <li> 
                <a href="/privacy-policy">
                    Privacy Policy
                </a>
            </li>
            <li> 
                <a href="/calculators">
                    Mortgage Calculators
                </a>
            </li>
            <li> 
                <a href="/contact-us">
                    Contact us
                </a>
            </li>
        </ul>
    </div>
    <div class="menu-mid">
        <div class="menu-mid-inner">
            <div class="menu-mid-inner-left">
                <a href="/">
                    <img src="/img/mortgagesLogoLongPrimary.png" alt="">
                </a>
            </div>
            <div class="menu-mid-inner-right">
                <div class="menu-mid-inner-right-contact">
                    <h4>Call free from landlines & mobiles</h4>
                    <p> <a href="tel:+8009756476">0800 975 6476</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-bottom">
        <ul>
            <li> <a href="/first-time-buyer-mortgages">
                First Time Buyer
                </a>
            </li>
            <li> 
                <a href="/buy-to-let-mortgages">
                Buy to Let
                 </a>
            </li>
            <li> 
                <a href="/re-mortgage-advice">
                Re-mortgage
                </a>
            </li>
            <li> 
                <a href="/self-build-mortgages">
                    Self-build
                </a>
            </li>
            <li> 
                <a href="/self-employed-mortgages">
                    Self-employed
                </a>
            </li>
        </ul>
    </div>
</div>

<!--To be used on smaller screens below 1250px-->

<div class="sm-menu">
    <div class="sm-menu-logo-box">
        <a href="/">
            <img src="/img/mortgagesLogoLongPrimary.png" alt="">
        </a>
    </div>
    <div class="sm-menu-contact-box">
        <i class="fas fa-phone-square"></i>
        <span><a href="tel:08009756476">0800 975 6476</a></span>
    </div>
    <div class="sm-900-below-menu-icon-box">
        <a class="" data-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseMenu">
            <i class="fas fa-bars"></i>
          </a>
        
    </div>
</div>

<!--To be used on smaller screens below 900px-->

<div class="sm-900-below-menu">
    <div class="sm-900-below-menu-logo-box">
        <a href="/">
            <img src="/img/mortgagesLogoLongPrimary.png" alt="">
        </a>
    </div>
    <div class="sm-900-below-menu-icon-box">
        <a class="" data-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseMenu">
            <i class="fas fa-bars"></i>
          </a>
        
    </div>
</div>
<div class="sm-900-below-menu-contact-box">
    <span class="contact-details">
        <a href="tel:5554280940"><i class="fas fa-phone-square"></i></a>
        
        <span><a href="tel:08009756476">0800 975 6476</a></span>
    </span>
</div>



<!--Collapsing menu-->

   <div class="collapse menu-collapse" id="collapseMenu">
     <div class="menu-topic">

                 <!--Mortgage Calculators-->
        <div class="menu-topic-item">
            <div class="menu-topic-Contact menu-topic-listener">
            <a href="/calculators">
                <h6>Calculators</h6> <span><i class="fas fa-calculator"></i></span>
            </a>
            </div>
        </div>

        <!--Contact Us-->
        <div class="menu-topic-item">
            <div class="menu-topic-Contact menu-topic-listener">
            <a href="/contact-us">
                <h6>Contact Us</h6> <span><i class="far fa-paper-plane"></i></span>
            </a>
            </div>
        </div>

        <!--First Time Buyer Item-->
            <div class="menu-topic-item">
                    <div class="menu-topic-FTB menu-topic-listener">
                        <a class="" data-toggle="collapse" href="#collapseMenuFTB" role="button" aria-expanded="false" aria-controls="collapseMenuFTB">
                        <h6>First Time Buyers</h6> <span><i class="fas fa-plus-circle"></i></span>
                        </a>
                    </div>
                    <div class="collapse" id="collapseMenuFTB">
                        <div class="menu-topic-sub menu-topic-sub-FTB">
                            <div class="guides">
                            <h6>Guides</h6>
                            <ul>
                                <li>
                                    <a href="/first-time-buyer-mortgages">
                                        First Time Buyers
                                    </a><i class="fas fa-chevron-right"></i>
                                </li>
                                <li>
                                    <a href="/first-time-buyer-mortgages/95-mortgages-for-first-time-buyers">
                                        95% Mortgages
                                    </a><i class="fas fa-chevron-right"></i>
                                </li>
                                <li>
                                    <a href="/first-time-buyer-mortgages/the-costs-of-buying-a-house">
                                        The cost of Buying a Home
                                    </a><i class="fas fa-chevron-right"></i>
                                </li>
                                <li>
                                    <a href="/first-time-buyer-mortgages/first-time-buyer-faq">
                                        First Time Buyer FAQ
                                    </a><i class="fas fa-chevron-right"></i>
                                </li>
                                <li>
                                    <a href="/government-schemes">
                                        Government Schemes
                                    </a><i class="fas fa-chevron-right"></i>
                                </li>
                                <li>
                                    <a href="/government-schemes/co-ownership-mortgages">
                                        Co-Ownership
                                    </a><i class="fas fa-chevron-right"></i>
                                </li>
                                <li>
                                    <a href="/government-schemes/right-to-buy-government-scheme">
                                        Right to Buy
                                    </a><i class="fas fa-chevron-right"></i>
                                </li>
                                <li>
                                    <a href="/government-schemes/help-to-buy-isas">
                                        Help to Buy ISA's
                                    </a><i class="fas fa-chevron-right"></i>
                                </li>
                                <li>
                                    <a href="/government-schemes/help-to-buy-government-scheme">
                                        Help to Buy
                                    </a><i class="fas fa-chevron-right"></i>
                                </li>
                            </ul>
                                
                            </div>
                            <div class="tools">
                                <h6>Tools</h6>
                                    <ul>
                                        <li>
                                            <a href="/calculators">
                                            Mortgage Calculators
                                            </a><i class="fas fa-chevron-right"></i>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </div>
            </div>

        <!--Buy to Let Item-->
        <div class="menu-topic-item">
            <div class="menu-topic-BTL menu-topic-listener">
                <a class="" data-toggle="collapse" href="#collapseMenuBTL" role="button" aria-expanded="false" aria-controls="collapseMenuBTL">
                <h6>Buy to Let</h6> <span><i class="fas fa-plus-circle"></i></span>
                </a>
            </div>
            <div class="collapse" id="collapseMenuBTL">
                <div class="menu-topic-sub menu-topic-sub-BTL">
                    <div class="guides">
                    <h6>Guides</h6>
                    <ul>
                        <li>
                            <a href="/buy-to-let-mortgages">
                            Buy to Let
                            </a>
                        </li>
                        <li>
                            <a href="/buy-to-let-mortgages/buy-to-let-mortgage-criteria">
                            Buy to Let Mortgage Criteria
                            </a>
                        </li>
                        <li>
                            <a href="/buy-to-let-mortgages/buy-to-let-re-mortgage">
                            Buy to Let Re-mortgage
                            </a>
                        </li>
                        <li>
                            <a href="/buy-to-let-mortgages/buy-to-let-faq">
                            Buy to Let FAQ
                            </a>
                        </li>
                    </ul>
                        
                    </div>
                    <div class="tools">
                        <h6>Tools</h6>
                            <ul>
                                <li>
                                    <a href="/calculators">
                                    Mortgage Calculators
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--Remortgage-->
        <div class="menu-topic-item">
            <div class="menu-topic-Remo menu-topic-listener">
                <a class="" data-toggle="collapse" href="#collapseMenuRemo" role="button" aria-expanded="false" aria-controls="collapseMenuRemo">
                <h6>Re-mortgage</h6> <span><i class="fas fa-plus-circle"></i></span>
                </a>
            </div>
            <div class="collapse" id="collapseMenuRemo">
                <div class="menu-topic-sub menu-topic-sub-Remo">
                    <div class="guides">
                    <h6>Guides</h6>
                    <ul>
                        <li>
                            <a href="/re-mortgage-advice">
                            Re-mortgage
                            </a>
                        </li>
                        <li>
                            <a href="/re-mortgage-advice/re-mortgage-for-a-better-rate">
                            Re-mortgage for a Better Rate
                            </a>
                        </li>
                        <li>
                            <a href="/re-mortgage-advice/re-mortgage-to-buy-another-property">
                            Re-mortgage to Buy another Property
                            </a>
                        </li>
                        <li>
                            <a href="/re-mortgage-advice/re-mortgage-to-buy-another-property">
                            Re-mortgage to Reduce the Term
                            </a>
                        </li>
                        <li>
                            <a href="/re-mortgage-advice/re-mortgaging-to-pay-off-debts">
                            Re-mortgage to pay off debts
                            </a>
                        </li>
                        <li>
                            <a href="/re-mortgage-advice/re-mortgaging-to-pay-off-debts">
                            Re-mortgage Guide
                            </a>
                        </li>
                    </ul>
                        
                    </div>
                    <div class="tools">
                        <h6>Tools</h6>
                            <ul>
                                <li>
                                    <a href="/calculators">
                                    Mortgage Calculators
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--Self-Build-->
        <div class="menu-topic-item">
            <div class="menu-topic-Self menu-topic-listener">
                <a class="" data-toggle="collapse" href="#collapseMenuSelf" role="button" aria-expanded="false" aria-controls="collapseMenuSelf">
                <h6>Self-Build</h6> <span><i class="fas fa-plus-circle"></i></span>
                </a>
            </div>
            <div class="collapse" id="collapseMenuSelf">
                <div class="menu-topic-sub menu-topic-sub-Self">
                    <div class="guides">
                    <h6>Guides</h6>
                    <ul>
                        <li>
                            <a href="/self-build-mortgages">
                            Self-Build
                            </a>
                        </li>
                    </ul>
                        
                    </div>
                    <div class="tools">
                        <h6>Tools</h6>
                            <ul>
                                <li>
                                    <a href="/calculators">
                                    Mortgage Calculators
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--Self Employed-->
        <div class="menu-topic-item">
            <div class="menu-topic-SelfEmp menu-topic-listener">
                <a class="" data-toggle="collapse" href="#collapseMenuSelfEmp" role="button" aria-expanded="false" aria-controls="collapseMenuSelfEmp">
                <h6>Self Employed</h6> <span><i class="fas fa-plus-circle"></i></span>
                </a>
            </div>
            <div class="collapse" id="collapseMenuSelfEmp">
                <div class="menu-topic-sub menu-topic-sub-SelfEmp">
                    <div class="guides">
                    <h6>Guides</h6>
                    <ul>
                        <li>
                            <a href="/self-employed-mortgages">
                            Self-Employed Mortgages
                            </a>
                        </li>
                        <li>
                            <a href="/self-employed-mortgages/improve-your-chances">
                            Improve your Chances
                            </a>
                        </li>
                        <li>
                            <a href="/self-employed-mortgages/self-employed-proving-my-income">
                            Prove your Income
                            </a>
                        </li>
                    </ul>
                        
                    </div>
                    <div class="tools">
                        <h6>Tools</h6>
                            <ul>
                                <li>
                                    <a href="/calculators">
                                    Mortgage Calculators
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--Mortgage Advice Posts-->
        <div class="menu-topic-item">
            <div class="menu-topic-Advice menu-topic-listener">
                <a class="" data-toggle="collapse" href="#collapseMenuAdvice" role="button" aria-expanded="false" aria-controls="collapseMenuAdvice">
                <h6>Mortgage Advice</h6> <span><i class="fas fa-plus-circle"></i></span>
                </a>
            </div>
            <div class="collapse" id="collapseMenuAdvice">
                <div class="menu-topic-sub menu-topic-sub-Advice">
                    <div class="guides">
                    <h6>Guides</h6>
                    <ul>
                        <li>
                            <a href="/mortgage-advice">
                             Latest Mortgage Advice Posts
                            </a>
                        </li>
                        <li>
                            <a href="/mortgage-advice/5b5eff5ac3419a161da3f42b">
                             Who's better Bank or Broker
                            </a>
                        </li>
                        <li>
                            <a href="/mortgage-advice/5b5f0215c3419a161da3f42d">
                             Saving for a Deposit
                            </a>
                        </li>
                        <li>
                            <a href="/mortgage-advice/5b5f03cec3419a161da3f42e">
                             Property Surveys Explained
                            </a>
                        </li>
                        <li>
                            <a href="/mortgage-advice/5c71dc24dbb9fa516c0cef51">
                             First Time Buyer Mistakes 
                            </a>
                        </li>

                    </ul>
                        
                    </div>
                    <div class="tools">
                        <h6>Tools</h6>
                            <ul>
                                <li>
                                    <a href="/calculators">
                                    Mortgage Calculators
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--Mortgage News Posts-->
        <div class="menu-topic-item">
            <div class="menu-topic-News menu-topic-listener">
                <a class="" data-toggle="collapse" href="#collapseMenuNews" role="button" aria-expanded="false" aria-controls="collapseMenuNews">
                <h6>Mortgage News</h6> <span><i class="fas fa-plus-circle"></i></span>
                </a>
            </div>
            <div class="collapse" id="collapseMenuNews">
                <div class="menu-topic-sub menu-topic-sub-News">
                    <div class="guides">
                    <h6>Guides</h6>
                    <ul>
                        <li>
                            <a href="/mortgage-news">
                                Latest Mortgage news Posts
                            </a>
                        </li>
                        <li>
                            <a href="/mortgage-news/5b69aaac8dbfd62fb4aadd57">
                                165 Million Secured for Co-ownership
                            </a>
                        </li>
                        <li>
                            <a href="/mortgage-news/5b69ac838dbfd62fb4aadd58">
                                Mortgage Lending in Northern Ireland – Highest Since the 2007 Crash !
                            </a>
                        </li>
                    </ul>
                        
                    </div>
                    <div class="tools">
                        <h6>Tools</h6>
                            <ul>
                                <li>
                                    <a href="/calculators">
                                    Mortgage Calculators
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--Our Service-->
        <div class="menu-topic-item">
            <div class="menu-topic-Contact menu-topic-listener">
            <a href="/our-service">
                <h6>Our Service</h6> <span><i class="fas fa-arrow-alt-circle-left"></i></span>
            </a>
            </div>
        </div>

        <!--Privacy Policy-->
        <div class="menu-topic-item">
            <div class="menu-topic-Contact menu-topic-listener">
            <a href="/privacy-policy">
                <h6>Privacy Policy</h6> <span><i class="fas fa-arrow-alt-circle-left"></i></span>
            </a>
            </div>
        </div>


     </div>

   </div>

</div>


