<!DOCTYPE html>
<html lang="en">
    <head>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TXC3CNN');</script>
    <!-- End Google Tag Manager -->

            <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140701488-1">
gtag('config', 'AW-758026368');
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-140685100-1');
  
</script>

<!-- Event snippet for submitEnquiry conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof(url) != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
          'send_to': 'AW-758026368/Q9YxCIi6hKMBEIChuukC',
          'event_callback': callback
      });
      return false;
    }
    </script>
  <!-- Event snippet for Calls conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof(url) != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
          'send_to': 'AW-758026368/5EacCMLXiaMBEIChuukC',
          'event_callback': callback
      });
      return false;
    }
    </script>

    <!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '282969092050500');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=282969092050500&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
        

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/style.css">
      <title><%= metatitle %></title>
      <meta name="description" content="<%= metadescription %> ">
      <meta name="format-detection" content="telephone=no">

    </head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXC3CNN"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

 
  <div id="st-container" class="st-container">

    <nav class="st-menu st-effect-1" id="menu-1">
      <h2 class="icon icon-lab">Sidebar</h2>
      <ul>
        <li><a class="icon icon-data" href="#">Data Management</a></li>
        <li><a class="icon icon-location" href="#">Location</a></li>
        <li><a class="icon icon-study" href="#">Study</a></li>
        <li><a class="icon icon-photo" href="#">Collections</a></li>
        <li><a class="icon icon-wallet" href="#">Credits</a></li>
      </ul>
    </nav>
  
    <nav class="st-menu st-effect-2" id="menu-1">
      <h2 class="icon icon-lab">Sidebar</h2>
      <ul>
        <li><a class="icon icon-data" href="#">Data Management</a></li>
        <li><a class="icon icon-location" href="#">Location</a></li>
        <li><a class="icon icon-study" href="#">Study</a></li>
        <li><a class="icon icon-photo" href="#">Collections</a></li>
        <li><a class="icon icon-wallet" href="#">Credits</a></li>
      </ul>
    </nav>
    <nav class="st-menu st-effect-4" id="menu-4">
      <h2 class="icon icon-lab">Sidebar</h2>
      <ul>
        <li><a class="icon icon-data" href="#">Data Management</a></li>
        <li><a class="icon icon-location" href="#">Location</a></li>
        <li><a class="icon icon-study" href="#">Study</a></li>
        <li><a class="icon icon-photo" href="#">Collections</a></li>
        <li><a class="icon icon-wallet" href="#">Credits</a></li>
      </ul>
    </nav>
  
    <nav class="st-menu st-effect-5" id="menu-5">
      <h2 class="icon icon-stack">Sidebar</h2>
      <ul>
        <li><a class="icon icon-data" href="#">Data Management</a></li>
        <li><a class="icon icon-location" href="#">Location</a></li>
        <li><a class="icon icon-study" href="#">Study</a></li>
        <li><a class="icon icon-photo" href="#">Collections</a></li>
        <li><a class="icon icon-wallet" href="#">Credits</a></li>
      </ul>
    </nav>
  
    <nav class="st-menu st-effect-9" id="menu-9">
      <h2 class="icon icon-lab">Sidebar</h2>
      <ul>
        <li><a class="icon icon-data" href="#">Data Management</a></li>
        <li><a class="icon icon-location" href="#">Location</a></li>
        <li><a class="icon icon-study" href="#">Study</a></li>
        <li><a class="icon icon-photo" href="#">Collections</a></li>
        <li><a class="icon icon-wallet" href="#">Credits</a></li>
      </ul>
    </nav>
  
    <nav class="st-menu st-effect-10" id="menu-10">
      <h2 class="icon icon-stack">Sidebar</h2>
      <ul>
        <li><a class="icon icon-data" href="#">Data Management</a></li>
        <li><a class="icon icon-location" href="#">Location</a></li>
        <li><a class="icon icon-study" href="#">Study</a></li>
        <li><a class="icon icon-photo" href="#">Collections</a></li>
        <li><a class="icon icon-wallet" href="#">Credits</a></li>
      </ul>
    </nav>
  
    <nav class="st-menu st-effect-11" id="menu-11">
      <h2 class="icon icon-lab">Sidebar</h2>
      <ul>
        <li><a class="icon icon-data" href="#">Data Management</a></li>
        <li><a class="icon icon-location" href="#">Location</a></li>
        <li><a class="icon icon-study" href="#">Study</a></li>
        <li><a class="icon icon-photo" href="#">Collections</a></li>
        <li><a class="icon icon-wallet" href="#">Credits</a></li>
      </ul>
    </nav>
  
    <nav class="st-menu st-effect-12" id="menu-12">
      <h2 class="icon icon-stack">Sidebar</h2>
      <ul>
        <li><a class="icon icon-data" href="#">Data Management</a></li>
        <li><a class="icon icon-location" href="#">Location</a></li>
        <li><a class="icon icon-study" href="#">Study</a></li>
        <li><a class="icon icon-photo" href="#">Collections</a></li>
        <li><a class="icon icon-wallet" href="#">Credits</a></li>
      </ul>
    </nav>
  
    <nav class="st-menu st-effect-13" id="menu-13">
      <h2 class="icon icon-stack">Sidebar</h2>
      <ul>
        <li><a class="icon icon-data" href="#">Data Management</a></li>
        <li><a class="icon icon-location" href="#">Location</a></li>
        <li><a class="icon icon-study" href="#">Study</a></li>
        <li><a class="icon icon-photo" href="#">Collections</a></li>
        <li><a class="icon icon-wallet" href="#">Credits</a></li>
      </ul>
    </nav>
  
  
    <div class="st-pusher">
      <!-- 	
                      example menus 
                      these menus will be under the push wrapper
                  -->
      <nav class="st-menu st-effect-3" id="menu-3">
        <h2 class="icon icon-lab">Sidebar</h2>
        <ul>
          <li><a class="icon icon-data" href="#">Data Management</a></li>
          <li><a class="icon icon-location" href="#">Location</a></li>
          <li><a class="icon icon-study" href="#">Study</a></li>
          <li><a class="icon icon-photo" href="#">Collections</a></li>
          <li><a class="icon icon-wallet" href="#">Credits</a></li>
        </ul>
      </nav>
  
      <nav class="st-menu st-effect-6" id="menu-6">
        <h2 class="icon icon-stack">Sidebar</h2>
        <ul>
          <li><a class="icon icon-data" href="#">Data Management</a></li>
          <li><a class="icon icon-location" href="#">Location</a></li>
          <li><a class="icon icon-study" href="#">Study</a></li>
          <li><a class="icon icon-photo" href="#">Collections</a></li>
          <li><a class="icon icon-wallet" href="#">Credits</a></li>
        </ul>
      </nav>
  
      <nav class="st-menu st-effect-7" id="menu-7">
        <h2 class="icon icon-lab">Sidebar</h2>
        <ul>
          <li><a class="icon icon-data" href="#">Data Management</a></li>
          <li><a class="icon icon-location" href="#">Location</a></li>
          <li><a class="icon icon-study" href="#">Study</a></li>
          <li><a class="icon icon-photo" href="#">Collections</a></li>
          <li><a class="icon icon-wallet" href="#">Credits</a></li>
        </ul>
      </nav>
  
      <nav class="st-menu st-effect-8" id="menu-8">
        <h2 class="icon icon-stack">Sidebar</h2>
        <ul>
          <li><a class="icon icon-data" href="#">Data Management</a></li>
          <li><a class="icon icon-location" href="#">Location</a></li>
          <li><a class="icon icon-study" href="#">Study</a></li>
          <li><a class="icon icon-photo" href="#">Collections</a></li>
          <li><a class="icon icon-wallet" href="#">Credits</a></li>
        </ul>
      </nav>
  
      <nav class="st-menu st-effect-14" id="menu-14">
        <h2 class="icon icon-stack">Sidebar</h2>
        <ul>
          <li><a class="icon icon-data" href="#">Data Management</a></li>
          <li><a class="icon icon-location" href="#">Location</a></li>
          <li><a class="icon icon-study" href="#">Study</a></li>
          <li><a class="icon icon-photo" href="#">Collections</a></li>
          <li><a class="icon icon-wallet" href="#">Credits</a></li>
        </ul>
      </nav>
  
      <div class="st-content">
        <!-- this is the wrapper for the content -->
        <div class="st-content-inner">
          <!-- extra div for emulating position:fixed of the menu -->
          <!-- Top Navigation -->
          <header class="codrops-header">
            <h1>Sidebar Transitions <span>Transition effects for off-canvas views</span></h1>
          </header>
          <div class="main clearfix">
            <div id="st-trigger-effects" class="column">
              <button data-effect="st-effect-1">Slide in on top</button>
              <button data-effect="st-effect-2">Reveal</button>
              <button data-effect="st-effect-3">Push</button>
              <button data-effect="st-effect-4">Slide along</button>
              <button data-effect="st-effect-5">Reverse slide out</button>
              <button data-effect="st-effect-6">Rotate pusher</button>
              <button data-effect="st-effect-7">3D rotate in</button>
              <button data-effect="st-effect-8">3D rotate out</button>
              <button data-effect="st-effect-9">Scale down pusher</button>
              <button data-effect="st-effect-10">Scale Up</button>
              <button data-effect="st-effect-11">Scale &amp; rotate pusher</button>
              <button data-effect="st-effect-12">Open door</button>
              <button data-effect="st-effect-13">Fall down</button>
              <button data-effect="st-effect-14">Delayed 3D Rotate</button>
            </div>
            <div class="column">
              <p>Sidebar menus or off-canvas navigations can be revealed in many creative ways.</p>
              <p>Here is some inspiration for showing them in style using CSS transitions.</p>
            </div>
          </div>
          <!-- /main -->
        </div>
        <!-- /st-content-inner -->
      </div>
      <!-- /st-content -->
    </div>
  </div>



<script src="js/test/sliding-side-bar.js"></script>
  <% include ../partials/footer %>