.indexPageBox{
    box-shadow:0 0 5px 0px rgba(153, 153, 153, 0.6);
    border: 1px solid #D8D8D8;
    border-bottom: none;
    padding: 8px;
    padding-top: 15px;
    padding-bottom:15px;
    margin-bottom: 0px;
  }

  .mortgageAdviceHead{
    margin-bottom: 2rem;
  }