<%- include('../partials/head-tags') %>
<%- include('../partials/main-menu') %>

<div class="container">
  <div class="row">
 
      <div class="col-md-8 col-sm-12 main">
              <nav id="breadcrumb" aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page"> <a href="/first-time-buyer-mortgages">First Time Buyer Advice</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Government Schemes </li>
                  </ol>
              </nav>
          
              <h2 class="main-title">
                Government Schemes
            </h2>

            <img class="main-img" src="/img/government-schemes.jpg" alt="">

            <p>  
              The government runs a number of different schemes to help you get on the property ladder including the Help to Buy Mortgage Guarantee Scheme, Help to Buy ISA, Co-Ownership and Right to Buy.
            </p>
           
          <h3>Which Government Scheme is Right for you?</h3>
            <p>
             Before you start you should check to see if you would be eligible for a standard mortgage. If you currently have a 5% deposit this may be a possibility. If not don’t give up there are still options. The government currently run a range of different schemes that are designed to help people in your situation get a foot on the property ladder. The scheme that is right for you will depend on your circumstances so in order to establish that we need to answer a few questions.
            </p>
           
           <h3>Do you have a 5% Deposit or are you able to save one?</h3>
            <p>
              If you have already done the hard work and saved a 5% deposit the Government Help to Buy Mortgage Guarantee Scheme could be available to help you today but remember a lot of lenders now offer <a class="link" href="/first-time-buyer-mortgages/95-mortgages-for-first-time-buyers">95% mortgage to first time buyers</a> so using a government scheme may not even be necessary. If you are starting to or in the process of saving for your deposit don’t forget to investigate the Help to Buy ISA which could boost your savings by up to 25%.
            </p> 
           
           <h3>No Deposit? Co-Ownership could be the answer!!</h3>
           <p>
              Co-Ownership allows you to buy between 50% and 90% of a property’s value and pay rent on the remaining share. This type of scheme is available to those who do not have a deposit and has proved popular in Northern Ireland. Want to learn more about <a class="link" href="/government-schemes/co-ownership-mortgages">co-ownership in Northern Ireland.</a>
           </p>
           
           <h3>Right to Buy Government Mortgage Scheme</h3>
           <p>
             The majority of housing association tenants who have lived in the same property for 5 years or more will have the right to buy their property at a considerable discount. Find out more about <a class="link" href="/government-schemes/right-to-buy-government-scheme">Right to Buy in Northern Ireland.</a>
           </p>
              </div>

          <div class="col-md-4 col-sm-12 side-bar">
          <div class="side-bar-list">
              <div class="side-bar-list-title">
                  First Time Buyer Mortgage Advice
              </div>
              <div class="side-bar-list-item">
                  <a href="/first-time-buyer-mortgages">First Time Buyer Mortgages</a>
              </div>
              <div class="side-bar-list-item">
                  <a href="/first-time-buyer-mortgages/95-mortgages-for-first-time-buyers">95% Mortgages for First Time Buyers</a>
              </div>
              <div class="side-bar-list-item">
                  <a href="/first-time-buyer-mortgages/the-costs-of-buying-a-house">The Cost of Buying a House</a>
              </div>
              <div class="side-bar-list-item">
                  <a href="/first-time-buyer-mortgages/first-time-buyer-faq">First Time Buyer FAQ</a>
              </div>
              <div class="side-bar-list-item">
                <a href="/government-schemes">Government Schemes</a>
            </div>
            <div class="side-bar-list-item">
              <a href="/government-schemes/co-ownership-mortgages">Co-ownership Mortgages</a>
            </div>
            <div class="side-bar-list-item">
              <a href="/government-schemes/right-to-buy-government-scheme">Right to Buy</a>
            </div>
            <div class="side-bar-list-item">
              <a href="/government-schemes/help-to-buy-isas">Help to Buy ISA's</a>
            </div>
            <div class="side-bar-list-item">
              <a href="/government-schemes/help-to-buy-government-scheme">Help to Buy</a>
            </div>
          </div>
          <div id="carousel-widget"></div>
          <div class="side-bar-infograph">
              <div class="side-bar-infograph-top">
                 <div class="side-bar-infograph-item">
                    <div class="side-bar-infograph-item-icon-box">
                       <i class="far fa-thumbs-up"></i>
                    </div>
                    <div class="side-bar-infograph-item-title">
                      Fee Free
                    </div>
                    <div class="side-bar-infograph-item-content">
                      We will never charge you a fee for our services !
                    </div>
                 </div>
                 <div class="side-bar-infograph-item">
                      <div class="side-bar-infograph-item-icon-box">
                          <i class="fas fa-lock"></i>
                      </div>
                      <div class="side-bar-infograph-item-title">
                        Safe & Secure
                      </div>
                      <div class="side-bar-infograph-item-content">
                        GDPR ready your data is encrpted so you can relax !
                      </div>
                   </div>
              </div>
              <div class="side-bar-infograph-bottom">
                      <div class="side-bar-infograph-item">
                              <div class="side-bar-infograph-item-icon-box">
                                  <i class="far fa-check-circle"></i>
                              </div>
                              <div class="side-bar-infograph-item-title">
                                Range of Lenders
                              </div>
                              <div class="side-bar-infograph-item-content">
                                Competitive rates from across the market !
                              </div>
                           </div>
                           <div class="side-bar-infograph-item">
                                  <div class="side-bar-infograph-item-icon-box">
                                      <i class="fas fa-balance-scale"></i>
                                  </div>
                                  <div class="side-bar-infograph-item-title">
                                    Unbiased Service
                                  </div>
                                  <div class="side-bar-infograph-item-content">
                                    We are not tied to any lender and aim to find the best deal for you !
                                  </div>
                               </div>
              </div>
          </div>

          <div class="side-bar-contact">
              <div class="side-bar-contact">
                <div class="side-bar-contact-title">
                    Speak to an Adviser today <br>
                    <P class="number">Call <a  id="contactNumber" href="tel:08009756476">0800 975 6476</a></P>
                    <div class="side-bar-contact-title-or">or</div>
                    <a href="" class="btn btn-success" id="contactButton" data-toggle="modal" data-target="#modal-enquire">Enquire Now</a>
                </div>
              </div>
            </div>
      </div>
  
 </div>
</div>

<%- include('../partials/footer') %>




